# twitter data EDA

### mount the drive

In [1]:
# from google.colab import drive
# drive.mount('/content/drive')

In [2]:
import pandas as pd

In [3]:
# Read the first CSV file into a dataframe

try:
    # Code to parse or read the file
    df = pd.read_csv('all_true_fake_merged.csv')

except ParserError as e:
    # Handle the error, such as by printing an error message or logging the issue
    print(f"ParserError: {e}")

In [4]:
# df['tweet']=df['tweet'].str.replace(r'http\S+', '').str.replace(r'@\S+','').str.replace(r'#\S+','').str.replace(r'|','').str.replace(r',','').str.replace(r'-','').str.replace(r'\'','').str.replace(r'%','').str.replace(r'\d','').str.replace(r'\n','')

In [5]:
# import nltk
# nltk.download('punkt')
# from nltk.tokenize import sent_tokenize
# df['no_of_sent']= df['tweet'].apply(lambda x: len(sent_tokenize(x)))

In [6]:
df

,author id,created_at,mentions_id,mentions_username,hashtags,geo,longitude,latitude,id,lang,like_count,quote_count,reply_count,retweet_count,follower_count,source,tweet,target
0,1.039760e+18,2022-05-30 15:26:08+00:00,[],[],"['Delhi', 'HeavyRain', 'JamaMasjid']",NaN,NaN,NaN,1.531296e+18,hi,108.0,8.0,8.0,15.0,218235.0,TweetDeck,Delhi: The dome of the Jama Masjid damaged aft...,1
1,1.039760e+18,2022-06-02 05:08:27+00:00,[],[],"['JamaMasjid', 'Delhi', 'Opinion']",NaN,NaN,NaN,1.532228e+18,hi,4.0,0.0,0.0,2.0,218233.0,TweetDeck,The most elevated symbol of the Mughalia era i...,1
2,1.039760e+18,2022-06-05 13:14:29+00:00,['66104639'],['vishuITV'],"['BJP', 'NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533437e+18,hi,10.0,1.0,0.0,0.0,218233.0,TweetDeck,What is the story behind Nupur Sharma's suspen...,1
3,1.039760e+18,2022-06-05 12:43:08+00:00,[],[],"['NupurSharma', 'BJP']",NaN,NaN,NaN,1.533429e+18,hi,258.0,2.0,10.0,23.0,218233.0,TweetDeck,"After BJP's action, Nupur Sharma expressed reg...",1
4,1.039760e+18,2022-06-05 11:48:53+00:00,[],[],"['NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533416e+18,hi,42.0,0.0,4.0,2.0,218233.0,TweetDeck,Who are BJP spokesperson Nupur Sharma and Nave...,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9304,1.289236e+18,2022-07-19 03:49:26+00:00,"['1216685521797148672', '143409075']","['bihar_police', 'NitishKumar']",[],NaN,NaN,NaN,1.549240e+18,en,5911.0,48.0,122.0,2684.0,222578.0,Twitter for iPhone,Bihar: a Hindu man was attacked by Muslims for...,0
9305,1.289236e+18,2022-07-21 14:46:32+00:00,"['38647512', '19192999', '255873659']","['IndianExpress', 'rajkamaljha', 'ShubhajitRoy']",[],NaN,NaN,NaN,1.550130e+18,en,2619.0,9.0,19.0,914.0,222578.0,Twitter for iPhone,"Hello @indianxpress, there is no reservation i...",0
9306,1.289236e+18,2022-07-21 13:39:58+00:00,['38647512'],['IndianExpress'],[],NaN,NaN,NaN,1.550113e+18,en,147.0,1.0,0.0,43.0,222578.0,Twitter for iPhone,Hello @Indianxpress\n\nMHA is not responsible ...,0
9307,1.289236e+18,2022-07-21 13:35:19+00:00,[],[],[],NaN,NaN,NaN,1.550112e+18,en,241.0,1.0,10.0,75.0,222578.0,Twitter for iPhone,Fake news:\n1st learn that Agnipath Scheme is ...,0
9308,1.289236e+18,2022-09-22 08:45:09+00:00,[],[],['UmeshKolhe'],NaN,NaN,NaN,1.572870e+18,en,1270.0,0.0,5.0,231.0,222578.0,Twitter for iPhone,11th accuses shahim ahmed arreeted from Mumbai...,0

### 1—Tweet length

In [7]:
df['tweet_length'] = df['tweet'].apply(lambda x: len(x))

In [8]:
df

,author id,created_at,mentions_id,mentions_username,hashtags,geo,longitude,latitude,id,lang,like_count,quote_count,reply_count,retweet_count,follower_count,source,tweet,target,tweet_length
0,1.039760e+18,2022-05-30 15:26:08+00:00,[],[],"['Delhi', 'HeavyRain', 'JamaMasjid']",NaN,NaN,NaN,1.531296e+18,hi,108.0,8.0,8.0,15.0,218235.0,TweetDeck,Delhi: The dome of the Jama Masjid damaged aft...,1,176
1,1.039760e+18,2022-06-02 05:08:27+00:00,[],[],"['JamaMasjid', 'Delhi', 'Opinion']",NaN,NaN,NaN,1.532228e+18,hi,4.0,0.0,0.0,2.0,218233.0,TweetDeck,The most elevated symbol of the Mughalia era i...,1,178
2,1.039760e+18,2022-06-05 13:14:29+00:00,['66104639'],['vishuITV'],"['BJP', 'NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533437e+18,hi,10.0,1.0,0.0,0.0,218233.0,TweetDeck,What is the story behind Nupur Sharma's suspen...,1,163
3,1.039760e+18,2022-06-05 12:43:08+00:00,[],[],"['NupurSharma', 'BJP']",NaN,NaN,NaN,1.533429e+18,hi,258.0,2.0,10.0,23.0,218233.0,TweetDeck,"After BJP's action, Nupur Sharma expressed reg...",1,157
4,1.039760e+18,2022-06-05 11:48:53+00:00,[],[],"['NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533416e+18,hi,42.0,0.0,4.0,2.0,218233.0,TweetDeck,Who are BJP spokesperson Nupur Sharma and Nave...,1,171
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9304,1.289236e+18,2022-07-19 03:49:26+00:00,"['1216685521797148672', '143409075']","['bihar_police', 'NitishKumar']",[],NaN,NaN,NaN,1.549240e+18,en,5911.0,48.0,122.0,2684.0,222578.0,Twitter for iPhone,Bihar: a Hindu man was attacked by Muslims for...,0,276
9305,1.289236e+18,2022-07-21 14:46:32+00:00,"['38647512', '19192999', '255873659']","['IndianExpress', 'rajkamaljha', 'ShubhajitRoy']",[],NaN,NaN,NaN,1.550130e+18,en,2619.0,9.0,19.0,914.0,222578.0,Twitter for iPhone,"Hello @indianxpress, there is no reservation i...",0,210
9306,1.289236e+18,2022-07-21 13:39:58+00:00,['38647512'],['IndianExpress'],[],NaN,NaN,NaN,1.550113e+18,en,147.0,1.0,0.0,43.0,222578.0,Twitter for iPhone,Hello @Indianxpress\n\nMHA is not responsible ...,0,100
9307,1.289236e+18,2022-07-21 13:35:19+00:00,[],[],[],NaN,NaN,NaN,1.550112e+18,en,241.0,1.0,10.0,75.0,222578.0,Twitter for iPhone,Fake news:\n1st learn that Agnipath Scheme is ...,0,289
9308,1.289236e+18,2022-09-22 08:45:09+00:00,[],[],['UmeshKolhe'],NaN,NaN,NaN,1.572870e+18,en,1270.0,0.0,5.0,231.0,222578.0,Twitter for iPhone,11th accuses shahim ahmed arreeted from Mumbai...,0,83

### 2—Number of tokens

In [9]:
import nltk

# download the punkt tokenizer from nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /home/arajora/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [10]:
# define a function to tokenize each tweet
def tokenize_tweet(tweet):
    tokens = nltk.word_tokenize(tweet)
    return len(tokens)

# use apply and the tokenize_tweet function to create a new column tokens
df['tokens_count'] = df['tweet'].apply(tokenize_tweet)

In [11]:
df

,author id,created_at,mentions_id,mentions_username,hashtags,geo,longitude,latitude,id,lang,like_count,quote_count,reply_count,retweet_count,follower_count,source,tweet,target,tweet_length,tokens_count
0,1.039760e+18,2022-05-30 15:26:08+00:00,[],[],"['Delhi', 'HeavyRain', 'JamaMasjid']",NaN,NaN,NaN,1.531296e+18,hi,108.0,8.0,8.0,15.0,218235.0,TweetDeck,Delhi: The dome of the Jama Masjid damaged aft...,1,176,35
1,1.039760e+18,2022-06-02 05:08:27+00:00,[],[],"['JamaMasjid', 'Delhi', 'Opinion']",NaN,NaN,NaN,1.532228e+18,hi,4.0,0.0,0.0,2.0,218233.0,TweetDeck,The most elevated symbol of the Mughalia era i...,1,178,32
2,1.039760e+18,2022-06-05 13:14:29+00:00,['66104639'],['vishuITV'],"['BJP', 'NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533437e+18,hi,10.0,1.0,0.0,0.0,218233.0,TweetDeck,What is the story behind Nupur Sharma's suspen...,1,163,31
3,1.039760e+18,2022-06-05 12:43:08+00:00,[],[],"['NupurSharma', 'BJP']",NaN,NaN,NaN,1.533429e+18,hi,258.0,2.0,10.0,23.0,218233.0,TweetDeck,"After BJP's action, Nupur Sharma expressed reg...",1,157,28
4,1.039760e+18,2022-06-05 11:48:53+00:00,[],[],"['NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533416e+18,hi,42.0,0.0,4.0,2.0,218233.0,TweetDeck,Who are BJP spokesperson Nupur Sharma and Nave...,1,171,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9304,1.289236e+18,2022-07-19 03:49:26+00:00,"['1216685521797148672', '143409075']","['bihar_police', 'NitishKumar']",[],NaN,NaN,NaN,1.549240e+18,en,5911.0,48.0,122.0,2684.0,222578.0,Twitter for iPhone,Bihar: a Hindu man was attacked by Muslims for...,0,276,52
9305,1.289236e+18,2022-07-21 14:46:32+00:00,"['38647512', '19192999', '255873659']","['IndianExpress', 'rajkamaljha', 'ShubhajitRoy']",[],NaN,NaN,NaN,1.550130e+18,en,2619.0,9.0,19.0,914.0,222578.0,Twitter for iPhone,"Hello @indianxpress, there is no reservation i...",0,210,37
9306,1.289236e+18,2022-07-21 13:39:58+00:00,['38647512'],['IndianExpress'],[],NaN,NaN,NaN,1.550113e+18,en,147.0,1.0,0.0,43.0,222578.0,Twitter for iPhone,Hello @Indianxpress\n\nMHA is not responsible ...,0,100,17
9307,1.289236e+18,2022-07-21 13:35:19+00:00,[],[],[],NaN,NaN,NaN,1.550112e+18,en,241.0,1.0,10.0,75.0,222578.0,Twitter for iPhone,Fake news:\n1st learn that Agnipath Scheme is ...,0,289,54
9308,1.289236e+18,2022-09-22 08:45:09+00:00,[],[],['UmeshKolhe'],NaN,NaN,NaN,1.572870e+18,en,1270.0,0.0,5.0,231.0,222578.0,Twitter for iPhone,11th accuses shahim ahmed arreeted from Mumbai...,0,83,13

### 3—TTR

In [12]:
# Function to calculate the type-to-token ratio of a tweet
def ttr(tweet):
    tokens = nltk.word_tokenize(tweet.lower())
    types = set(tokens)
    return len(types) / len(tokens)

# Apply the ttr function to the 'Tweet' column and create a new 'TTR' column
df = df.assign(TTR=df['tweet'].apply(ttr))

In [13]:
df

,author id,created_at,mentions_id,mentions_username,hashtags,geo,longitude,latitude,id,lang,...,quote_count,reply_count,retweet_count,follower_count,source,tweet,target,tweet_length,tokens_count,TTR
0,1.039760e+18,2022-05-30 15:26:08+00:00,[],[],"['Delhi', 'HeavyRain', 'JamaMasjid']",NaN,NaN,NaN,1.531296e+18,hi,...,8.0,8.0,15.0,218235.0,TweetDeck,Delhi: The dome of the Jama Masjid damaged aft...,1,176,35,0.771429
1,1.039760e+18,2022-06-02 05:08:27+00:00,[],[],"['JamaMasjid', 'Delhi', 'Opinion']",NaN,NaN,NaN,1.532228e+18,hi,...,0.0,0.0,2.0,218233.0,TweetDeck,The most elevated symbol of the Mughalia era i...,1,178,32,0.843750
2,1.039760e+18,2022-06-05 13:14:29+00:00,['66104639'],['vishuITV'],"['BJP', 'NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533437e+18,hi,...,1.0,0.0,0.0,218233.0,TweetDeck,What is the story behind Nupur Sharma's suspen...,1,163,31,0.806452
3,1.039760e+18,2022-06-05 12:43:08+00:00,[],[],"['NupurSharma', 'BJP']",NaN,NaN,NaN,1.533429e+18,hi,...,2.0,10.0,23.0,218233.0,TweetDeck,"After BJP's action, Nupur Sharma expressed reg...",1,157,28,0.892857
4,1.039760e+18,2022-06-05 11:48:53+00:00,[],[],"['NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533416e+18,hi,...,0.0,4.0,2.0,218233.0,TweetDeck,Who are BJP spokesperson Nupur Sharma and Nave...,1,171,28,0.928571
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9304,1.289236e+18,2022-07-19 03:49:26+00:00,"['1216685521797148672', '143409075']","['bihar_police', 'NitishKumar']",[],NaN,NaN,NaN,1.549240e+18,en,...,48.0,122.0,2684.0,222578.0,Twitter for iPhone,Bihar: a Hindu man was attacked by Muslims for...,0,276,52,0.788462
9305,1.289236e+18,2022-07-21 14:46:32+00:00,"['38647512', '19192999', '255873659']","['IndianExpress', 'rajkamaljha', 'ShubhajitRoy']",[],NaN,NaN,NaN,1.550130e+18,en,...,9.0,19.0,914.0,222578.0,Twitter for iPhone,"Hello @indianxpress, there is no reservation i...",0,210,37,0.810811
9306,1.289236e+18,2022-07-21 13:39:58+00:00,['38647512'],['IndianExpress'],[],NaN,NaN,NaN,1.550113e+18,en,...,1.0,0.0,43.0,222578.0,Twitter for iPhone,Hello @Indianxpress\n\nMHA is not responsible ...,0,100,17,0.941176
9307,1.289236e+18,2022-07-21 13:35:19+00:00,[],[],[],NaN,NaN,NaN,1.550112e+18,en,...,1.0,10.0,75.0,222578.0,Twitter for iPhone,Fake news:\n1st learn that Agnipath Scheme is ...,0,289,54,0.814815
9308,1.289236e+18,2022-09-22 08:45:09+00:00,[],[],['UmeshKolhe'],NaN,NaN,NaN,1.572870e+18,en,...,0.0,5.0,231.0,222578.0,Twitter for iPhone,11th accuses shahim ahmed arreeted from Mumbai...,0,83,13,1.000000

### 4—Number of URLs

In [14]:
import re

# define a regular expression to match URLs
url_regex = r'(https?://\S+)'

In [15]:
# define a function to count the number of URLs in a tweet
def count_urls(tweet):
    urls = re.findall(url_regex, tweet)
    return len(urls)

# use apply and the count_urls function to create a new column url_count
df['url_count'] = df['tweet'].apply(count_urls)

In [16]:
df

,author id,created_at,mentions_id,mentions_username,hashtags,geo,longitude,latitude,id,lang,...,reply_count,retweet_count,follower_count,source,tweet,target,tweet_length,tokens_count,TTR,url_count
0,1.039760e+18,2022-05-30 15:26:08+00:00,[],[],"['Delhi', 'HeavyRain', 'JamaMasjid']",NaN,NaN,NaN,1.531296e+18,hi,...,8.0,15.0,218235.0,TweetDeck,Delhi: The dome of the Jama Masjid damaged aft...,1,176,35,0.771429,1
1,1.039760e+18,2022-06-02 05:08:27+00:00,[],[],"['JamaMasjid', 'Delhi', 'Opinion']",NaN,NaN,NaN,1.532228e+18,hi,...,0.0,2.0,218233.0,TweetDeck,The most elevated symbol of the Mughalia era i...,1,178,32,0.843750,1
2,1.039760e+18,2022-06-05 13:14:29+00:00,['66104639'],['vishuITV'],"['BJP', 'NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533437e+18,hi,...,0.0,0.0,218233.0,TweetDeck,What is the story behind Nupur Sharma's suspen...,1,163,31,0.806452,1
3,1.039760e+18,2022-06-05 12:43:08+00:00,[],[],"['NupurSharma', 'BJP']",NaN,NaN,NaN,1.533429e+18,hi,...,10.0,23.0,218233.0,TweetDeck,"After BJP's action, Nupur Sharma expressed reg...",1,157,28,0.892857,1
4,1.039760e+18,2022-06-05 11:48:53+00:00,[],[],"['NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533416e+18,hi,...,4.0,2.0,218233.0,TweetDeck,Who are BJP spokesperson Nupur Sharma and Nave...,1,171,28,0.928571,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9304,1.289236e+18,2022-07-19 03:49:26+00:00,"['1216685521797148672', '143409075']","['bihar_police', 'NitishKumar']",[],NaN,NaN,NaN,1.549240e+18,en,...,122.0,2684.0,222578.0,Twitter for iPhone,Bihar: a Hindu man was attacked by Muslims for...,0,276,52,0.788462,0
9305,1.289236e+18,2022-07-21 14:46:32+00:00,"['38647512', '19192999', '255873659']","['IndianExpress', 'rajkamaljha', 'ShubhajitRoy']",[],NaN,NaN,NaN,1.550130e+18,en,...,19.0,914.0,222578.0,Twitter for iPhone,"Hello @indianxpress, there is no reservation i...",0,210,37,0.810811,1
9306,1.289236e+18,2022-07-21 13:39:58+00:00,['38647512'],['IndianExpress'],[],NaN,NaN,NaN,1.550113e+18,en,...,0.0,43.0,222578.0,Twitter for iPhone,Hello @Indianxpress\n\nMHA is not responsible ...,0,100,17,0.941176,1
9307,1.289236e+18,2022-07-21 13:35:19+00:00,[],[],[],NaN,NaN,NaN,1.550112e+18,en,...,10.0,75.0,222578.0,Twitter for iPhone,Fake news:\n1st learn that Agnipath Scheme is ...,0,289,54,0.814815,1
9308,1.289236e+18,2022-09-22 08:45:09+00:00,[],[],['UmeshKolhe'],NaN,NaN,NaN,1.572870e+18,en,...,5.0,231.0,222578.0,Twitter for iPhone,11th accuses shahim ahmed arreeted from Mumbai...,0,83,13,1.000000,1

### 5—Number of hashtags

In [17]:
import ast

In [18]:
df['hashtags_count'] = df['hashtags'].apply(lambda x: len(ast.literal_eval(x)))

In [19]:
df

,author id,created_at,mentions_id,mentions_username,hashtags,geo,longitude,latitude,id,lang,...,retweet_count,follower_count,source,tweet,target,tweet_length,tokens_count,TTR,url_count,hashtags_count
0,1.039760e+18,2022-05-30 15:26:08+00:00,[],[],"['Delhi', 'HeavyRain', 'JamaMasjid']",NaN,NaN,NaN,1.531296e+18,hi,...,15.0,218235.0,TweetDeck,Delhi: The dome of the Jama Masjid damaged aft...,1,176,35,0.771429,1,3
1,1.039760e+18,2022-06-02 05:08:27+00:00,[],[],"['JamaMasjid', 'Delhi', 'Opinion']",NaN,NaN,NaN,1.532228e+18,hi,...,2.0,218233.0,TweetDeck,The most elevated symbol of the Mughalia era i...,1,178,32,0.843750,1,3
2,1.039760e+18,2022-06-05 13:14:29+00:00,['66104639'],['vishuITV'],"['BJP', 'NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533437e+18,hi,...,0.0,218233.0,TweetDeck,What is the story behind Nupur Sharma's suspen...,1,163,31,0.806452,1,3
3,1.039760e+18,2022-06-05 12:43:08+00:00,[],[],"['NupurSharma', 'BJP']",NaN,NaN,NaN,1.533429e+18,hi,...,23.0,218233.0,TweetDeck,"After BJP's action, Nupur Sharma expressed reg...",1,157,28,0.892857,1,2
4,1.039760e+18,2022-06-05 11:48:53+00:00,[],[],"['NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533416e+18,hi,...,2.0,218233.0,TweetDeck,Who are BJP spokesperson Nupur Sharma and Nave...,1,171,28,0.928571,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9304,1.289236e+18,2022-07-19 03:49:26+00:00,"['1216685521797148672', '143409075']","['bihar_police', 'NitishKumar']",[],NaN,NaN,NaN,1.549240e+18,en,...,2684.0,222578.0,Twitter for iPhone,Bihar: a Hindu man was attacked by Muslims for...,0,276,52,0.788462,0,0
9305,1.289236e+18,2022-07-21 14:46:32+00:00,"['38647512', '19192999', '255873659']","['IndianExpress', 'rajkamaljha', 'ShubhajitRoy']",[],NaN,NaN,NaN,1.550130e+18,en,...,914.0,222578.0,Twitter for iPhone,"Hello @indianxpress, there is no reservation i...",0,210,37,0.810811,1,0
9306,1.289236e+18,2022-07-21 13:39:58+00:00,['38647512'],['IndianExpress'],[],NaN,NaN,NaN,1.550113e+18,en,...,43.0,222578.0,Twitter for iPhone,Hello @Indianxpress\n\nMHA is not responsible ...,0,100,17,0.941176,1,0
9307,1.289236e+18,2022-07-21 13:35:19+00:00,[],[],[],NaN,NaN,NaN,1.550112e+18,en,...,75.0,222578.0,Twitter for iPhone,Fake news:\n1st learn that Agnipath Scheme is ...,0,289,54,0.814815,1,0
9308,1.289236e+18,2022-09-22 08:45:09+00:00,[],[],['UmeshKolhe'],NaN,NaN,NaN,1.572870e+18,en,...,231.0,222578.0,Twitter for iPhone,11th accuses shahim ahmed arreeted from Mumbai...,0,83,13,1.000000,1,1

### 6—Number of punctuation marks

In [20]:
# define the regular expression pattern to match punctuation marks
pattern = r'[^\w\s]'

# add a new column with the count of punctuation marks in each tweet
df['punctuation_count'] = df['tweet'].str.count(pattern)

In [21]:
df

,author id,created_at,mentions_id,mentions_username,hashtags,geo,longitude,latitude,id,lang,...,follower_count,source,tweet,target,tweet_length,tokens_count,TTR,url_count,hashtags_count,punctuation_count
0,1.039760e+18,2022-05-30 15:26:08+00:00,[],[],"['Delhi', 'HeavyRain', 'JamaMasjid']",NaN,NaN,NaN,1.531296e+18,hi,...,218235.0,TweetDeck,Delhi: The dome of the Jama Masjid damaged aft...,1,176,35,0.771429,1,3,13
1,1.039760e+18,2022-06-02 05:08:27+00:00,[],[],"['JamaMasjid', 'Delhi', 'Opinion']",NaN,NaN,NaN,1.532228e+18,hi,...,218233.0,TweetDeck,The most elevated symbol of the Mughalia era i...,1,178,32,0.843750,1,3,11
2,1.039760e+18,2022-06-05 13:14:29+00:00,['66104639'],['vishuITV'],"['BJP', 'NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533437e+18,hi,...,218233.0,TweetDeck,What is the story behind Nupur Sharma's suspen...,1,163,31,0.806452,1,3,15
3,1.039760e+18,2022-06-05 12:43:08+00:00,[],[],"['NupurSharma', 'BJP']",NaN,NaN,NaN,1.533429e+18,hi,...,218233.0,TweetDeck,"After BJP's action, Nupur Sharma expressed reg...",1,157,28,0.892857,1,2,12
4,1.039760e+18,2022-06-05 11:48:53+00:00,[],[],"['NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533416e+18,hi,...,218233.0,TweetDeck,Who are BJP spokesperson Nupur Sharma and Nave...,1,171,28,0.928571,1,2,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9304,1.289236e+18,2022-07-19 03:49:26+00:00,"['1216685521797148672', '143409075']","['bihar_police', 'NitishKumar']",[],NaN,NaN,NaN,1.549240e+18,en,...,222578.0,Twitter for iPhone,Bihar: a Hindu man was attacked by Muslims for...,0,276,52,0.788462,0,0,9
9305,1.289236e+18,2022-07-21 14:46:32+00:00,"['38647512', '19192999', '255873659']","['IndianExpress', 'rajkamaljha', 'ShubhajitRoy']",[],NaN,NaN,NaN,1.550130e+18,en,...,222578.0,Twitter for iPhone,"Hello @indianxpress, there is no reservation i...",0,210,37,0.810811,1,0,14
9306,1.289236e+18,2022-07-21 13:39:58+00:00,['38647512'],['IndianExpress'],[],NaN,NaN,NaN,1.550113e+18,en,...,222578.0,Twitter for iPhone,Hello @Indianxpress\n\nMHA is not responsible ...,0,100,17,0.941176,1,0,8
9307,1.289236e+18,2022-07-21 13:35:19+00:00,[],[],[],NaN,NaN,NaN,1.550112e+18,en,...,222578.0,Twitter for iPhone,Fake news:\n1st learn that Agnipath Scheme is ...,0,289,54,0.814815,1,0,11
9308,1.289236e+18,2022-09-22 08:45:09+00:00,[],[],['UmeshKolhe'],NaN,NaN,NaN,1.572870e+18,en,...,222578.0,Twitter for iPhone,11th accuses shahim ahmed arreeted from Mumbai...,0,83,13,1.000000,1,1,7

### 7—Number of ‘‘?!’’

In [22]:
# define the regular expression pattern to match '?!'
pattern = r'\?\!'

# add a new column with the count of '?!' occurrences in each tweet
df['interrobang_count'] = df['tweet'].str.count(pattern)

In [23]:
df

,author id,created_at,mentions_id,mentions_username,hashtags,geo,longitude,latitude,id,lang,...,source,tweet,target,tweet_length,tokens_count,TTR,url_count,hashtags_count,punctuation_count,interrobang_count
0,1.039760e+18,2022-05-30 15:26:08+00:00,[],[],"['Delhi', 'HeavyRain', 'JamaMasjid']",NaN,NaN,NaN,1.531296e+18,hi,...,TweetDeck,Delhi: The dome of the Jama Masjid damaged aft...,1,176,35,0.771429,1,3,13,0
1,1.039760e+18,2022-06-02 05:08:27+00:00,[],[],"['JamaMasjid', 'Delhi', 'Opinion']",NaN,NaN,NaN,1.532228e+18,hi,...,TweetDeck,The most elevated symbol of the Mughalia era i...,1,178,32,0.843750,1,3,11,0
2,1.039760e+18,2022-06-05 13:14:29+00:00,['66104639'],['vishuITV'],"['BJP', 'NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533437e+18,hi,...,TweetDeck,What is the story behind Nupur Sharma's suspen...,1,163,31,0.806452,1,3,15,0
3,1.039760e+18,2022-06-05 12:43:08+00:00,[],[],"['NupurSharma', 'BJP']",NaN,NaN,NaN,1.533429e+18,hi,...,TweetDeck,"After BJP's action, Nupur Sharma expressed reg...",1,157,28,0.892857,1,2,12,0
4,1.039760e+18,2022-06-05 11:48:53+00:00,[],[],"['NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533416e+18,hi,...,TweetDeck,Who are BJP spokesperson Nupur Sharma and Nave...,1,171,28,0.928571,1,2,10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9304,1.289236e+18,2022-07-19 03:49:26+00:00,"['1216685521797148672', '143409075']","['bihar_police', 'NitishKumar']",[],NaN,NaN,NaN,1.549240e+18,en,...,Twitter for iPhone,Bihar: a Hindu man was attacked by Muslims for...,0,276,52,0.788462,0,0,9,0
9305,1.289236e+18,2022-07-21 14:46:32+00:00,"['38647512', '19192999', '255873659']","['IndianExpress', 'rajkamaljha', 'ShubhajitRoy']",[],NaN,NaN,NaN,1.550130e+18,en,...,Twitter for iPhone,"Hello @indianxpress, there is no reservation i...",0,210,37,0.810811,1,0,14,0
9306,1.289236e+18,2022-07-21 13:39:58+00:00,['38647512'],['IndianExpress'],[],NaN,NaN,NaN,1.550113e+18,en,...,Twitter for iPhone,Hello @Indianxpress\n\nMHA is not responsible ...,0,100,17,0.941176,1,0,8,0
9307,1.289236e+18,2022-07-21 13:35:19+00:00,[],[],[],NaN,NaN,NaN,1.550112e+18,en,...,Twitter for iPhone,Fake news:\n1st learn that Agnipath Scheme is ...,0,289,54,0.814815,1,0,11,0
9308,1.289236e+18,2022-09-22 08:45:09+00:00,[],[],['UmeshKolhe'],NaN,NaN,NaN,1.572870e+18,en,...,Twitter for iPhone,11th accuses shahim ahmed arreeted from Mumbai...,0,83,13,1.000000,1,1,7,0

### 8—Number of ‘‘?’’

In [24]:
# define the regular expression pattern to match '?'
pattern = r'\?'

# add a new column with the count of '?' in each tweet
df['question_mark_count'] = df['tweet'].str.count(pattern)

In [25]:
df

,author id,created_at,mentions_id,mentions_username,hashtags,geo,longitude,latitude,id,lang,...,tweet,target,tweet_length,tokens_count,TTR,url_count,hashtags_count,punctuation_count,interrobang_count,question_mark_count
0,1.039760e+18,2022-05-30 15:26:08+00:00,[],[],"['Delhi', 'HeavyRain', 'JamaMasjid']",NaN,NaN,NaN,1.531296e+18,hi,...,Delhi: The dome of the Jama Masjid damaged aft...,1,176,35,0.771429,1,3,13,0,0
1,1.039760e+18,2022-06-02 05:08:27+00:00,[],[],"['JamaMasjid', 'Delhi', 'Opinion']",NaN,NaN,NaN,1.532228e+18,hi,...,The most elevated symbol of the Mughalia era i...,1,178,32,0.843750,1,3,11,0,0
2,1.039760e+18,2022-06-05 13:14:29+00:00,['66104639'],['vishuITV'],"['BJP', 'NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533437e+18,hi,...,What is the story behind Nupur Sharma's suspen...,1,163,31,0.806452,1,3,15,0,1
3,1.039760e+18,2022-06-05 12:43:08+00:00,[],[],"['NupurSharma', 'BJP']",NaN,NaN,NaN,1.533429e+18,hi,...,"After BJP's action, Nupur Sharma expressed reg...",1,157,28,0.892857,1,2,12,0,0
4,1.039760e+18,2022-06-05 11:48:53+00:00,[],[],"['NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533416e+18,hi,...,Who are BJP spokesperson Nupur Sharma and Nave...,1,171,28,0.928571,1,2,10,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9304,1.289236e+18,2022-07-19 03:49:26+00:00,"['1216685521797148672', '143409075']","['bihar_police', 'NitishKumar']",[],NaN,NaN,NaN,1.549240e+18,en,...,Bihar: a Hindu man was attacked by Muslims for...,0,276,52,0.788462,0,0,9,0,0
9305,1.289236e+18,2022-07-21 14:46:32+00:00,"['38647512', '19192999', '255873659']","['IndianExpress', 'rajkamaljha', 'ShubhajitRoy']",[],NaN,NaN,NaN,1.550130e+18,en,...,"Hello @indianxpress, there is no reservation i...",0,210,37,0.810811,1,0,14,0,0
9306,1.289236e+18,2022-07-21 13:39:58+00:00,['38647512'],['IndianExpress'],[],NaN,NaN,NaN,1.550113e+18,en,...,Hello @Indianxpress\n\nMHA is not responsible ...,0,100,17,0.941176,1,0,8,0,0
9307,1.289236e+18,2022-07-21 13:35:19+00:00,[],[],[],NaN,NaN,NaN,1.550112e+18,en,...,Fake news:\n1st learn that Agnipath Scheme is ...,0,289,54,0.814815,1,0,11,0,0
9308,1.289236e+18,2022-09-22 08:45:09+00:00,[],[],['UmeshKolhe'],NaN,NaN,NaN,1.572870e+18,en,...,11th accuses shahim ahmed arreeted from Mumbai...,0,83,13,1.000000,1,1,7,0,0

### 9—Number of ‘‘!’’

In [26]:
# define the regular expression pattern to match '!'
pattern = r'!'

# add a new column with the count of '!' in each tweet
df['exclamation_mark_count'] = df['tweet'].str.count(pattern)

In [27]:
df

,author id,created_at,mentions_id,mentions_username,hashtags,geo,longitude,latitude,id,lang,...,target,tweet_length,tokens_count,TTR,url_count,hashtags_count,punctuation_count,interrobang_count,question_mark_count,exclamation_mark_count
0,1.039760e+18,2022-05-30 15:26:08+00:00,[],[],"['Delhi', 'HeavyRain', 'JamaMasjid']",NaN,NaN,NaN,1.531296e+18,hi,...,1,176,35,0.771429,1,3,13,0,0,0
1,1.039760e+18,2022-06-02 05:08:27+00:00,[],[],"['JamaMasjid', 'Delhi', 'Opinion']",NaN,NaN,NaN,1.532228e+18,hi,...,1,178,32,0.843750,1,3,11,0,0,0
2,1.039760e+18,2022-06-05 13:14:29+00:00,['66104639'],['vishuITV'],"['BJP', 'NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533437e+18,hi,...,1,163,31,0.806452,1,3,15,0,1,0
3,1.039760e+18,2022-06-05 12:43:08+00:00,[],[],"['NupurSharma', 'BJP']",NaN,NaN,NaN,1.533429e+18,hi,...,1,157,28,0.892857,1,2,12,0,0,0
4,1.039760e+18,2022-06-05 11:48:53+00:00,[],[],"['NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533416e+18,hi,...,1,171,28,0.928571,1,2,10,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9304,1.289236e+18,2022-07-19 03:49:26+00:00,"['1216685521797148672', '143409075']","['bihar_police', 'NitishKumar']",[],NaN,NaN,NaN,1.549240e+18,en,...,0,276,52,0.788462,0,0,9,0,0,0
9305,1.289236e+18,2022-07-21 14:46:32+00:00,"['38647512', '19192999', '255873659']","['IndianExpress', 'rajkamaljha', 'ShubhajitRoy']",[],NaN,NaN,NaN,1.550130e+18,en,...,0,210,37,0.810811,1,0,14,0,0,0
9306,1.289236e+18,2022-07-21 13:39:58+00:00,['38647512'],['IndianExpress'],[],NaN,NaN,NaN,1.550113e+18,en,...,0,100,17,0.941176,1,0,8,0,0,0
9307,1.289236e+18,2022-07-21 13:35:19+00:00,[],[],[],NaN,NaN,NaN,1.550112e+18,en,...,0,289,54,0.814815,1,0,11,0,0,0
9308,1.289236e+18,2022-09-22 08:45:09+00:00,[],[],['UmeshKolhe'],NaN,NaN,NaN,1.572870e+18,en,...,0,83,13,1.000000,1,1,7,0,0,0

### 10—Number of emojis

In [28]:
# !pip install demoji

In [30]:
import demoji


# download the demoji library's emoji database
demoji.download_codes()

# define a function to count the non-emoji characters in a string
def count_non_emojis(s):
    return len(demoji.replace(s, ''))

# add a new column with the count of non-emoji characters in each tweet
df['non_emoji_count'] = df['tweet'].apply(count_non_emojis)

# add a new column with the count of emojis in each tweet
df['emoji_count'] = df['tweet'].apply(lambda s: len(s) - count_non_emojis(s))

/tmp/ipykernel_1367259/2955640451.py:5: FutureWarning: The demoji.download_codes attribute is deprecated and will be removed from demoji in a future version. It is an unused attribute as emoji codes are now distributed directly with the demoji package.
  demoji.download_codes()

In [31]:
df

,author id,created_at,mentions_id,mentions_username,hashtags,geo,longitude,latitude,id,lang,...,tokens_count,TTR,url_count,hashtags_count,punctuation_count,interrobang_count,question_mark_count,exclamation_mark_count,non_emoji_count,emoji_count
0,1.039760e+18,2022-05-30 15:26:08+00:00,[],[],"['Delhi', 'HeavyRain', 'JamaMasjid']",NaN,NaN,NaN,1.531296e+18,hi,...,35,0.771429,1,3,13,0,0,0,176,0
1,1.039760e+18,2022-06-02 05:08:27+00:00,[],[],"['JamaMasjid', 'Delhi', 'Opinion']",NaN,NaN,NaN,1.532228e+18,hi,...,32,0.843750,1,3,11,0,0,0,178,0
2,1.039760e+18,2022-06-05 13:14:29+00:00,['66104639'],['vishuITV'],"['BJP', 'NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533437e+18,hi,...,31,0.806452,1,3,15,0,1,0,163,0
3,1.039760e+18,2022-06-05 12:43:08+00:00,[],[],"['NupurSharma', 'BJP']",NaN,NaN,NaN,1.533429e+18,hi,...,28,0.892857,1,2,12,0,0,0,157,0
4,1.039760e+18,2022-06-05 11:48:53+00:00,[],[],"['NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533416e+18,hi,...,28,0.928571,1,2,10,0,1,0,171,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9304,1.289236e+18,2022-07-19 03:49:26+00:00,"['1216685521797148672', '143409075']","['bihar_police', 'NitishKumar']",[],NaN,NaN,NaN,1.549240e+18,en,...,52,0.788462,0,0,9,0,0,0,276,0
9305,1.289236e+18,2022-07-21 14:46:32+00:00,"['38647512', '19192999', '255873659']","['IndianExpress', 'rajkamaljha', 'ShubhajitRoy']",[],NaN,NaN,NaN,1.550130e+18,en,...,37,0.810811,1,0,14,0,0,0,209,1
9306,1.289236e+18,2022-07-21 13:39:58+00:00,['38647512'],['IndianExpress'],[],NaN,NaN,NaN,1.550113e+18,en,...,17,0.941176,1,0,8,0,0,0,100,0
9307,1.289236e+18,2022-07-21 13:35:19+00:00,[],[],[],NaN,NaN,NaN,1.550112e+18,en,...,54,0.814815,1,0,11,0,0,0,289,0
9308,1.289236e+18,2022-09-22 08:45:09+00:00,[],[],['UmeshKolhe'],NaN,NaN,NaN,1.572870e+18,en,...,13,1.000000,1,1,7,0,0,0,83,0

### 11—Negative emoji sentiment sum

In [32]:
# define a list of negative emojis
negative_emojis = ['😞', '😔', '😟', '😕', '🙁', '😩', '😠', '😡', '🤬']

# define a function to count the negative emojis in a string
def count_negative_emojis(s):
    return sum([1 for e in demoji.findall(s) if e in negative_emojis])

# add a new column with the count of negative emojis in each tweet
df['negative_emoji_count'] = df['tweet'].apply(count_negative_emojis)

In [33]:
df

,author id,created_at,mentions_id,mentions_username,hashtags,geo,longitude,latitude,id,lang,...,TTR,url_count,hashtags_count,punctuation_count,interrobang_count,question_mark_count,exclamation_mark_count,non_emoji_count,emoji_count,negative_emoji_count
0,1.039760e+18,2022-05-30 15:26:08+00:00,[],[],"['Delhi', 'HeavyRain', 'JamaMasjid']",NaN,NaN,NaN,1.531296e+18,hi,...,0.771429,1,3,13,0,0,0,176,0,0
1,1.039760e+18,2022-06-02 05:08:27+00:00,[],[],"['JamaMasjid', 'Delhi', 'Opinion']",NaN,NaN,NaN,1.532228e+18,hi,...,0.843750,1,3,11,0,0,0,178,0,0
2,1.039760e+18,2022-06-05 13:14:29+00:00,['66104639'],['vishuITV'],"['BJP', 'NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533437e+18,hi,...,0.806452,1,3,15,0,1,0,163,0,0
3,1.039760e+18,2022-06-05 12:43:08+00:00,[],[],"['NupurSharma', 'BJP']",NaN,NaN,NaN,1.533429e+18,hi,...,0.892857,1,2,12,0,0,0,157,0,0
4,1.039760e+18,2022-06-05 11:48:53+00:00,[],[],"['NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533416e+18,hi,...,0.928571,1,2,10,0,1,0,171,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9304,1.289236e+18,2022-07-19 03:49:26+00:00,"['1216685521797148672', '143409075']","['bihar_police', 'NitishKumar']",[],NaN,NaN,NaN,1.549240e+18,en,...,0.788462,0,0,9,0,0,0,276,0,0
9305,1.289236e+18,2022-07-21 14:46:32+00:00,"['38647512', '19192999', '255873659']","['IndianExpress', 'rajkamaljha', 'ShubhajitRoy']",[],NaN,NaN,NaN,1.550130e+18,en,...,0.810811,1,0,14,0,0,0,209,1,0
9306,1.289236e+18,2022-07-21 13:39:58+00:00,['38647512'],['IndianExpress'],[],NaN,NaN,NaN,1.550113e+18,en,...,0.941176,1,0,8,0,0,0,100,0,0
9307,1.289236e+18,2022-07-21 13:35:19+00:00,[],[],[],NaN,NaN,NaN,1.550112e+18,en,...,0.814815,1,0,11,0,0,0,289,0,0
9308,1.289236e+18,2022-09-22 08:45:09+00:00,[],[],['UmeshKolhe'],NaN,NaN,NaN,1.572870e+18,en,...,1.000000,1,1,7,0,0,0,83,0,0

### 12—Neutral emoji sentiment sum

In [34]:
# define a list of neutral emojis
neutral_emojis = ['😐', '😑', '😶', '😏', '😒', '🤐', '😴', '😪', '🥱']

# define a function to count the neutral emojis in a string
def count_neutral_emojis(s):
    return sum([1 for e in demoji.findall(s) if e in neutral_emojis])

# add a new column with the count of neutral emojis in each tweet
df['neutral_emoji_count'] = df['tweet'].apply(count_neutral_emojis)

In [35]:
df

,author id,created_at,mentions_id,mentions_username,hashtags,geo,longitude,latitude,id,lang,...,url_count,hashtags_count,punctuation_count,interrobang_count,question_mark_count,exclamation_mark_count,non_emoji_count,emoji_count,negative_emoji_count,neutral_emoji_count
0,1.039760e+18,2022-05-30 15:26:08+00:00,[],[],"['Delhi', 'HeavyRain', 'JamaMasjid']",NaN,NaN,NaN,1.531296e+18,hi,...,1,3,13,0,0,0,176,0,0,0
1,1.039760e+18,2022-06-02 05:08:27+00:00,[],[],"['JamaMasjid', 'Delhi', 'Opinion']",NaN,NaN,NaN,1.532228e+18,hi,...,1,3,11,0,0,0,178,0,0,0
2,1.039760e+18,2022-06-05 13:14:29+00:00,['66104639'],['vishuITV'],"['BJP', 'NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533437e+18,hi,...,1,3,15,0,1,0,163,0,0,0
3,1.039760e+18,2022-06-05 12:43:08+00:00,[],[],"['NupurSharma', 'BJP']",NaN,NaN,NaN,1.533429e+18,hi,...,1,2,12,0,0,0,157,0,0,0
4,1.039760e+18,2022-06-05 11:48:53+00:00,[],[],"['NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533416e+18,hi,...,1,2,10,0,1,0,171,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9304,1.289236e+18,2022-07-19 03:49:26+00:00,"['1216685521797148672', '143409075']","['bihar_police', 'NitishKumar']",[],NaN,NaN,NaN,1.549240e+18,en,...,0,0,9,0,0,0,276,0,0,0
9305,1.289236e+18,2022-07-21 14:46:32+00:00,"['38647512', '19192999', '255873659']","['IndianExpress', 'rajkamaljha', 'ShubhajitRoy']",[],NaN,NaN,NaN,1.550130e+18,en,...,1,0,14,0,0,0,209,1,0,0
9306,1.289236e+18,2022-07-21 13:39:58+00:00,['38647512'],['IndianExpress'],[],NaN,NaN,NaN,1.550113e+18,en,...,1,0,8,0,0,0,100,0,0,0
9307,1.289236e+18,2022-07-21 13:35:19+00:00,[],[],[],NaN,NaN,NaN,1.550112e+18,en,...,1,0,11,0,0,0,289,0,0,0
9308,1.289236e+18,2022-09-22 08:45:09+00:00,[],[],['UmeshKolhe'],NaN,NaN,NaN,1.572870e+18,en,...,1,1,7,0,0,0,83,0,0,0

### 13—Positive emoji sentiment sum

In [36]:
# define a list of positive emojis
positive_emojis = ['😀', '😃', '😄', '😁', '😆', '😊', '😍', '😘', '😜', '😎', '🤗', '💖', '💕', '💞', '🎉', '🎊']

# define a function to count the positive emojis in a string
def count_positive_emojis(s):
    return sum([1 for e in demoji.findall(s) if e in positive_emojis])

# add a new column with the count of positive emojis in each tweet
df['positive_emoji_count'] = df['tweet'].apply(count_positive_emojis)

In [37]:
df

,author id,created_at,mentions_id,mentions_username,hashtags,geo,longitude,latitude,id,lang,...,hashtags_count,punctuation_count,interrobang_count,question_mark_count,exclamation_mark_count,non_emoji_count,emoji_count,negative_emoji_count,neutral_emoji_count,positive_emoji_count
0,1.039760e+18,2022-05-30 15:26:08+00:00,[],[],"['Delhi', 'HeavyRain', 'JamaMasjid']",NaN,NaN,NaN,1.531296e+18,hi,...,3,13,0,0,0,176,0,0,0,0
1,1.039760e+18,2022-06-02 05:08:27+00:00,[],[],"['JamaMasjid', 'Delhi', 'Opinion']",NaN,NaN,NaN,1.532228e+18,hi,...,3,11,0,0,0,178,0,0,0,0
2,1.039760e+18,2022-06-05 13:14:29+00:00,['66104639'],['vishuITV'],"['BJP', 'NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533437e+18,hi,...,3,15,0,1,0,163,0,0,0,0
3,1.039760e+18,2022-06-05 12:43:08+00:00,[],[],"['NupurSharma', 'BJP']",NaN,NaN,NaN,1.533429e+18,hi,...,2,12,0,0,0,157,0,0,0,0
4,1.039760e+18,2022-06-05 11:48:53+00:00,[],[],"['NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533416e+18,hi,...,2,10,0,1,0,171,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9304,1.289236e+18,2022-07-19 03:49:26+00:00,"['1216685521797148672', '143409075']","['bihar_police', 'NitishKumar']",[],NaN,NaN,NaN,1.549240e+18,en,...,0,9,0,0,0,276,0,0,0,0
9305,1.289236e+18,2022-07-21 14:46:32+00:00,"['38647512', '19192999', '255873659']","['IndianExpress', 'rajkamaljha', 'ShubhajitRoy']",[],NaN,NaN,NaN,1.550130e+18,en,...,0,14,0,0,0,209,1,0,0,0
9306,1.289236e+18,2022-07-21 13:39:58+00:00,['38647512'],['IndianExpress'],[],NaN,NaN,NaN,1.550113e+18,en,...,0,8,0,0,0,100,0,0,0,0
9307,1.289236e+18,2022-07-21 13:35:19+00:00,[],[],[],NaN,NaN,NaN,1.550112e+18,en,...,0,11,0,0,0,289,0,0,0,0
9308,1.289236e+18,2022-09-22 08:45:09+00:00,[],[],['UmeshKolhe'],NaN,NaN,NaN,1.572870e+18,en,...,1,7,0,0,0,83,0,0,0,0

### 14—Number of periods

In [38]:
# count the number of periods in each tweet and add it as a new column 'period_count'
df['period_count'] = df['tweet'].str.count('\.')
df["tweet"][0]

'Delhi: The dome of the Jama Masjid damaged after thunderstorms and heavy rains, damage to the tower; Death of a person\n#Delhi | #Heavyrain | #JAMAMASJID\nhttps://t.co/ZZN8WGTQBT'

In [39]:
df

,author id,created_at,mentions_id,mentions_username,hashtags,geo,longitude,latitude,id,lang,...,punctuation_count,interrobang_count,question_mark_count,exclamation_mark_count,non_emoji_count,emoji_count,negative_emoji_count,neutral_emoji_count,positive_emoji_count,period_count
0,1.039760e+18,2022-05-30 15:26:08+00:00,[],[],"['Delhi', 'HeavyRain', 'JamaMasjid']",NaN,NaN,NaN,1.531296e+18,hi,...,13,0,0,0,176,0,0,0,0,1
1,1.039760e+18,2022-06-02 05:08:27+00:00,[],[],"['JamaMasjid', 'Delhi', 'Opinion']",NaN,NaN,NaN,1.532228e+18,hi,...,11,0,0,0,178,0,0,0,0,1
2,1.039760e+18,2022-06-05 13:14:29+00:00,['66104639'],['vishuITV'],"['BJP', 'NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533437e+18,hi,...,15,0,1,0,163,0,0,0,0,1
3,1.039760e+18,2022-06-05 12:43:08+00:00,[],[],"['NupurSharma', 'BJP']",NaN,NaN,NaN,1.533429e+18,hi,...,12,0,0,0,157,0,0,0,0,1
4,1.039760e+18,2022-06-05 11:48:53+00:00,[],[],"['NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533416e+18,hi,...,10,0,1,0,171,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9304,1.289236e+18,2022-07-19 03:49:26+00:00,"['1216685521797148672', '143409075']","['bihar_police', 'NitishKumar']",[],NaN,NaN,NaN,1.549240e+18,en,...,9,0,0,0,276,0,0,0,0,2
9305,1.289236e+18,2022-07-21 14:46:32+00:00,"['38647512', '19192999', '255873659']","['IndianExpress', 'rajkamaljha', 'ShubhajitRoy']",[],NaN,NaN,NaN,1.550130e+18,en,...,14,0,0,0,209,1,0,0,0,4
9306,1.289236e+18,2022-07-21 13:39:58+00:00,['38647512'],['IndianExpress'],[],NaN,NaN,NaN,1.550113e+18,en,...,8,0,0,0,100,0,0,0,0,3
9307,1.289236e+18,2022-07-21 13:35:19+00:00,[],[],[],NaN,NaN,NaN,1.550112e+18,en,...,11,0,0,0,289,0,0,0,0,4
9308,1.289236e+18,2022-09-22 08:45:09+00:00,[],[],['UmeshKolhe'],NaN,NaN,NaN,1.572870e+18,en,...,7,0,0,0,83,0,0,0,0,2

### 15—Number of stopwords

In [40]:
# import nltk
# nltk.download('stopwords')
from nltk.corpus import stopwords

In [41]:
# create a set of stopwords
stop_words = set(stopwords.words('english'))

# count the number of stopwords in each tweet and add it as a new column
df['stopwords_count'] = df['tweet'].apply(lambda x: len([word for word in x.lower().split() if word in stop_words]))

In [42]:
df

,author id,created_at,mentions_id,mentions_username,hashtags,geo,longitude,latitude,id,lang,...,interrobang_count,question_mark_count,exclamation_mark_count,non_emoji_count,emoji_count,negative_emoji_count,neutral_emoji_count,positive_emoji_count,period_count,stopwords_count
0,1.039760e+18,2022-05-30 15:26:08+00:00,[],[],"['Delhi', 'HeavyRain', 'JamaMasjid']",NaN,NaN,NaN,1.531296e+18,hi,...,0,0,0,176,0,0,0,0,1,9
1,1.039760e+18,2022-06-02 05:08:27+00:00,[],[],"['JamaMasjid', 'Delhi', 'Opinion']",NaN,NaN,NaN,1.532228e+18,hi,...,0,0,0,178,0,0,0,0,1,8
2,1.039760e+18,2022-06-05 13:14:29+00:00,['66104639'],['vishuITV'],"['BJP', 'NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533437e+18,hi,...,0,1,0,163,0,0,0,0,1,5
3,1.039760e+18,2022-06-05 12:43:08+00:00,[],[],"['NupurSharma', 'BJP']",NaN,NaN,NaN,1.533429e+18,hi,...,0,0,0,157,0,0,0,0,1,5
4,1.039760e+18,2022-06-05 11:48:53+00:00,[],[],"['NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533416e+18,hi,...,0,1,0,171,0,0,0,0,1,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9304,1.289236e+18,2022-07-19 03:49:26+00:00,"['1216685521797148672', '143409075']","['bihar_police', 'NitishKumar']",[],NaN,NaN,NaN,1.549240e+18,en,...,0,0,0,276,0,0,0,0,2,14
9305,1.289236e+18,2022-07-21 14:46:32+00:00,"['38647512', '19192999', '255873659']","['IndianExpress', 'rajkamaljha', 'ShubhajitRoy']",[],NaN,NaN,NaN,1.550130e+18,en,...,0,0,0,209,1,0,0,0,4,11
9306,1.289236e+18,2022-07-21 13:39:58+00:00,['38647512'],['IndianExpress'],[],NaN,NaN,NaN,1.550113e+18,en,...,0,0,0,100,0,0,0,0,3,4
9307,1.289236e+18,2022-07-21 13:35:19+00:00,[],[],[],NaN,NaN,NaN,1.550112e+18,en,...,0,0,0,289,0,0,0,0,4,17
9308,1.289236e+18,2022-09-22 08:45:09+00:00,[],[],['UmeshKolhe'],NaN,NaN,NaN,1.572870e+18,en,...,0,0,0,83,0,0,0,0,2,1

### 16—Number of words

In [43]:
# count the number of words in each tweet and add it as a new column
df['words_count'] = df['tweet'].apply(lambda x: len(x.split()))

In [44]:
df

,author id,created_at,mentions_id,mentions_username,hashtags,geo,longitude,latitude,id,lang,...,question_mark_count,exclamation_mark_count,non_emoji_count,emoji_count,negative_emoji_count,neutral_emoji_count,positive_emoji_count,period_count,stopwords_count,words_count
0,1.039760e+18,2022-05-30 15:26:08+00:00,[],[],"['Delhi', 'HeavyRain', 'JamaMasjid']",NaN,NaN,NaN,1.531296e+18,hi,...,0,0,176,0,0,0,0,1,9,27
1,1.039760e+18,2022-06-02 05:08:27+00:00,[],[],"['JamaMasjid', 'Delhi', 'Opinion']",NaN,NaN,NaN,1.532228e+18,hi,...,0,0,178,0,0,0,0,1,8,26
2,1.039760e+18,2022-06-05 13:14:29+00:00,['66104639'],['vishuITV'],"['BJP', 'NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533437e+18,hi,...,1,0,163,0,0,0,0,1,5,22
3,1.039760e+18,2022-06-05 12:43:08+00:00,[],[],"['NupurSharma', 'BJP']",NaN,NaN,NaN,1.533429e+18,hi,...,0,0,157,0,0,0,0,1,5,21
4,1.039760e+18,2022-06-05 11:48:53+00:00,[],[],"['NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533416e+18,hi,...,1,0,171,0,0,0,0,1,7,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9304,1.289236e+18,2022-07-19 03:49:26+00:00,"['1216685521797148672', '143409075']","['bihar_police', 'NitishKumar']",[],NaN,NaN,NaN,1.549240e+18,en,...,0,0,276,0,0,0,0,2,14,44
9305,1.289236e+18,2022-07-21 14:46:32+00:00,"['38647512', '19192999', '255873659']","['IndianExpress', 'rajkamaljha', 'ShubhajitRoy']",[],NaN,NaN,NaN,1.550130e+18,en,...,0,0,209,1,0,0,0,4,11,28
9306,1.289236e+18,2022-07-21 13:39:58+00:00,['38647512'],['IndianExpress'],[],NaN,NaN,NaN,1.550113e+18,en,...,0,0,100,0,0,0,0,3,4,12
9307,1.289236e+18,2022-07-21 13:35:19+00:00,[],[],[],NaN,NaN,NaN,1.550112e+18,en,...,0,0,289,0,0,0,0,4,17,46
9308,1.289236e+18,2022-09-22 08:45:09+00:00,[],[],['UmeshKolhe'],NaN,NaN,NaN,1.572870e+18,en,...,0,0,83,0,0,0,0,2,1,9

17—Average # of chars per word

In [45]:
# calculate the average number of characters per word in each tweet and add it as a new column
df['avg_chars_per_word'] = df['tweet'].apply(lambda x: sum(len(word) for word in x.split()) / len(x.split()))

In [46]:
df

,author id,created_at,mentions_id,mentions_username,hashtags,geo,longitude,latitude,id,lang,...,exclamation_mark_count,non_emoji_count,emoji_count,negative_emoji_count,neutral_emoji_count,positive_emoji_count,period_count,stopwords_count,words_count,avg_chars_per_word
0,1.039760e+18,2022-05-30 15:26:08+00:00,[],[],"['Delhi', 'HeavyRain', 'JamaMasjid']",NaN,NaN,NaN,1.531296e+18,hi,...,0,176,0,0,0,0,1,9,27,5.555556
1,1.039760e+18,2022-06-02 05:08:27+00:00,[],[],"['JamaMasjid', 'Delhi', 'Opinion']",NaN,NaN,NaN,1.532228e+18,hi,...,0,178,0,0,0,0,1,8,26,5.807692
2,1.039760e+18,2022-06-05 13:14:29+00:00,['66104639'],['vishuITV'],"['BJP', 'NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533437e+18,hi,...,0,163,0,0,0,0,1,5,22,6.409091
3,1.039760e+18,2022-06-05 12:43:08+00:00,[],[],"['NupurSharma', 'BJP']",NaN,NaN,NaN,1.533429e+18,hi,...,0,157,0,0,0,0,1,5,21,6.476190
4,1.039760e+18,2022-06-05 11:48:53+00:00,[],[],"['NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533416e+18,hi,...,0,171,0,0,0,0,1,7,22,6.818182
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9304,1.289236e+18,2022-07-19 03:49:26+00:00,"['1216685521797148672', '143409075']","['bihar_police', 'NitishKumar']",[],NaN,NaN,NaN,1.549240e+18,en,...,0,276,0,0,0,0,2,14,44,5.295455
9305,1.289236e+18,2022-07-21 14:46:32+00:00,"['38647512', '19192999', '255873659']","['IndianExpress', 'rajkamaljha', 'ShubhajitRoy']",[],NaN,NaN,NaN,1.550130e+18,en,...,0,209,1,0,0,0,4,11,28,6.535714
9306,1.289236e+18,2022-07-21 13:39:58+00:00,['38647512'],['IndianExpress'],[],NaN,NaN,NaN,1.550113e+18,en,...,0,100,0,0,0,0,3,4,12,7.333333
9307,1.289236e+18,2022-07-21 13:35:19+00:00,[],[],[],NaN,NaN,NaN,1.550112e+18,en,...,0,289,0,0,0,0,4,17,46,5.260870
9308,1.289236e+18,2022-09-22 08:45:09+00:00,[],[],['UmeshKolhe'],NaN,NaN,NaN,1.572870e+18,en,...,0,83,0,0,0,0,2,1,9,8.333333

### 18—Average # of chars per sentence

In [47]:
# calculate the average number of characters per sentence in each tweet and add it as a new column
df['avg_chars_per_sentence'] = df['tweet'].apply(lambda x: sum(len(sentence) for sentence in nltk.sent_tokenize(x)) / len(nltk.sent_tokenize(x)))

In [48]:
df

,author id,created_at,mentions_id,mentions_username,hashtags,geo,longitude,latitude,id,lang,...,non_emoji_count,emoji_count,negative_emoji_count,neutral_emoji_count,positive_emoji_count,period_count,stopwords_count,words_count,avg_chars_per_word,avg_chars_per_sentence
0,1.039760e+18,2022-05-30 15:26:08+00:00,[],[],"['Delhi', 'HeavyRain', 'JamaMasjid']",NaN,NaN,NaN,1.531296e+18,hi,...,176,0,0,0,0,1,9,27,5.555556,176.000000
1,1.039760e+18,2022-06-02 05:08:27+00:00,[],[],"['JamaMasjid', 'Delhi', 'Opinion']",NaN,NaN,NaN,1.532228e+18,hi,...,178,0,0,0,0,1,8,26,5.807692,178.000000
2,1.039760e+18,2022-06-05 13:14:29+00:00,['66104639'],['vishuITV'],"['BJP', 'NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533437e+18,hi,...,163,0,0,0,0,1,5,22,6.409091,81.000000
3,1.039760e+18,2022-06-05 12:43:08+00:00,[],[],"['NupurSharma', 'BJP']",NaN,NaN,NaN,1.533429e+18,hi,...,157,0,0,0,0,1,5,21,6.476190,157.000000
4,1.039760e+18,2022-06-05 11:48:53+00:00,[],[],"['NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533416e+18,hi,...,171,0,0,0,0,1,7,22,6.818182,85.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9304,1.289236e+18,2022-07-19 03:49:26+00:00,"['1216685521797148672', '143409075']","['bihar_police', 'NitishKumar']",[],NaN,NaN,NaN,1.549240e+18,en,...,276,0,0,0,0,2,14,44,5.295455,91.333333
9305,1.289236e+18,2022-07-21 14:46:32+00:00,"['38647512', '19192999', '255873659']","['IndianExpress', 'rajkamaljha', 'ShubhajitRoy']",[],NaN,NaN,NaN,1.550130e+18,en,...,209,1,0,0,0,4,11,28,6.535714,51.750000
9306,1.289236e+18,2022-07-21 13:39:58+00:00,['38647512'],['IndianExpress'],[],NaN,NaN,NaN,1.550113e+18,en,...,100,0,0,0,0,3,4,12,7.333333,32.666667
9307,1.289236e+18,2022-07-21 13:35:19+00:00,[],[],[],NaN,NaN,NaN,1.550112e+18,en,...,289,0,0,0,0,4,17,46,5.260870,71.000000
9308,1.289236e+18,2022-09-22 08:45:09+00:00,[],[],['UmeshKolhe'],NaN,NaN,NaN,1.572870e+18,en,...,83,0,0,0,0,2,1,9,8.333333,41.000000

### 19—Overall text sentiment

In [50]:
from textblob import TextBlob

In [51]:
# calculate the overall text sentiment of each tweet and add it as a new column
df['text_sentiment'] = df['tweet'].apply(lambda x: TextBlob(x).sentiment.polarity)

In [52]:
df

,author id,created_at,mentions_id,mentions_username,hashtags,geo,longitude,latitude,id,lang,...,emoji_count,negative_emoji_count,neutral_emoji_count,positive_emoji_count,period_count,stopwords_count,words_count,avg_chars_per_word,avg_chars_per_sentence,text_sentiment
0,1.039760e+18,2022-05-30 15:26:08+00:00,[],[],"['Delhi', 'HeavyRain', 'JamaMasjid']",NaN,NaN,NaN,1.531296e+18,hi,...,0,0,0,0,1,9,27,5.555556,176.000000,-0.200000
1,1.039760e+18,2022-06-02 05:08:27+00:00,[],[],"['JamaMasjid', 'Delhi', 'Opinion']",NaN,NaN,NaN,1.532228e+18,hi,...,0,0,0,0,1,8,26,5.807692,178.000000,0.500000
2,1.039760e+18,2022-06-05 13:14:29+00:00,['66104639'],['vishuITV'],"['BJP', 'NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533437e+18,hi,...,0,0,0,0,1,5,22,6.409091,81.000000,-0.400000
3,1.039760e+18,2022-06-05 12:43:08+00:00,[],[],"['NupurSharma', 'BJP']",NaN,NaN,NaN,1.533429e+18,hi,...,0,0,0,0,1,5,21,6.476190,157.000000,0.100000
4,1.039760e+18,2022-06-05 11:48:53+00:00,[],[],"['NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533416e+18,hi,...,0,0,0,0,1,7,22,6.818182,85.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9304,1.289236e+18,2022-07-19 03:49:26+00:00,"['1216685521797148672', '143409075']","['bihar_police', 'NitishKumar']",[],NaN,NaN,NaN,1.549240e+18,en,...,0,0,0,0,2,14,44,5.295455,91.333333,-0.168750
9305,1.289236e+18,2022-07-21 14:46:32+00:00,"['38647512', '19192999', '255873659']","['IndianExpress', 'rajkamaljha', 'ShubhajitRoy']",[],NaN,NaN,NaN,1.550130e+18,en,...,1,0,0,0,4,11,28,6.535714,51.750000,0.050000
9306,1.289236e+18,2022-07-21 13:39:58+00:00,['38647512'],['IndianExpress'],[],NaN,NaN,NaN,1.550113e+18,en,...,0,0,0,0,3,4,12,7.333333,32.666667,-0.100000
9307,1.289236e+18,2022-07-21 13:35:19+00:00,[],[],[],NaN,NaN,NaN,1.550112e+18,en,...,0,0,0,0,4,17,46,5.260870,71.000000,-0.166667
9308,1.289236e+18,2022-09-22 08:45:09+00:00,[],[],['UmeshKolhe'],NaN,NaN,NaN,1.572870e+18,en,...,0,0,0,0,2,1,9,8.333333,41.000000,0.000000

### 20—Number of vowels

In [53]:
# Function to count vowels in a string
def count_vowels(text):
    vowels = 'aeiouAEIOU'
    return len([char for char in text if char in vowels])

# Apply the count_vowels function to the 'Tweet' column and create a new 'Vowel Count' column
df['Vowel_count'] = df['tweet'].apply(lambda x: count_vowels(x))

In [54]:
df

,author id,created_at,mentions_id,mentions_username,hashtags,geo,longitude,latitude,id,lang,...,negative_emoji_count,neutral_emoji_count,positive_emoji_count,period_count,stopwords_count,words_count,avg_chars_per_word,avg_chars_per_sentence,text_sentiment,Vowel_count
0,1.039760e+18,2022-05-30 15:26:08+00:00,[],[],"['Delhi', 'HeavyRain', 'JamaMasjid']",NaN,NaN,NaN,1.531296e+18,hi,...,0,0,0,1,9,27,5.555556,176.000000,-0.200000,48
1,1.039760e+18,2022-06-02 05:08:27+00:00,[],[],"['JamaMasjid', 'Delhi', 'Opinion']",NaN,NaN,NaN,1.532228e+18,hi,...,0,0,0,1,8,26,5.807692,178.000000,0.500000,53
2,1.039760e+18,2022-06-05 13:14:29+00:00,['66104639'],['vishuITV'],"['BJP', 'NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533437e+18,hi,...,0,0,0,1,5,22,6.409091,81.000000,-0.400000,40
3,1.039760e+18,2022-06-05 12:43:08+00:00,[],[],"['NupurSharma', 'BJP']",NaN,NaN,NaN,1.533429e+18,hi,...,0,0,0,1,5,21,6.476190,157.000000,0.100000,43
4,1.039760e+18,2022-06-05 11:48:53+00:00,[],[],"['NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533416e+18,hi,...,0,0,0,1,7,22,6.818182,85.000000,0.000000,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9304,1.289236e+18,2022-07-19 03:49:26+00:00,"['1216685521797148672', '143409075']","['bihar_police', 'NitishKumar']",[],NaN,NaN,NaN,1.549240e+18,en,...,0,0,0,2,14,44,5.295455,91.333333,-0.168750,82
9305,1.289236e+18,2022-07-21 14:46:32+00:00,"['38647512', '19192999', '255873659']","['IndianExpress', 'rajkamaljha', 'ShubhajitRoy']",[],NaN,NaN,NaN,1.550130e+18,en,...,0,0,0,4,11,28,6.535714,51.750000,0.050000,61
9306,1.289236e+18,2022-07-21 13:39:58+00:00,['38647512'],['IndianExpress'],[],NaN,NaN,NaN,1.550113e+18,en,...,0,0,0,3,4,12,7.333333,32.666667,-0.100000,23
9307,1.289236e+18,2022-07-21 13:35:19+00:00,[],[],[],NaN,NaN,NaN,1.550112e+18,en,...,0,0,0,4,17,46,5.260870,71.000000,-0.166667,78
9308,1.289236e+18,2022-09-22 08:45:09+00:00,[],[],['UmeshKolhe'],NaN,NaN,NaN,1.572870e+18,en,...,0,0,0,2,1,9,8.333333,41.000000,0.000000,21

### 21—Number of consonants

In [55]:
# Function to count consonants in a string
def count_consonants(text):
    consonants = 'bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ'
    return len([char for char in text if char in consonants])

# Apply the count_consonants function to the 'Tweet' column and create a new 'Consonant Count' column
df['consonant_ount'] = df['tweet'].apply(lambda x: count_consonants(x))

In [56]:
df

,author id,created_at,mentions_id,mentions_username,hashtags,geo,longitude,latitude,id,lang,...,neutral_emoji_count,positive_emoji_count,period_count,stopwords_count,words_count,avg_chars_per_word,avg_chars_per_sentence,text_sentiment,Vowel_count,consonant_ount
0,1.039760e+18,2022-05-30 15:26:08+00:00,[],[],"['Delhi', 'HeavyRain', 'JamaMasjid']",NaN,NaN,NaN,1.531296e+18,hi,...,0,0,1,9,27,5.555556,176.000000,-0.200000,48,88
1,1.039760e+18,2022-06-02 05:08:27+00:00,[],[],"['JamaMasjid', 'Delhi', 'Opinion']",NaN,NaN,NaN,1.532228e+18,hi,...,0,0,1,8,26,5.807692,178.000000,0.500000,53,87
2,1.039760e+18,2022-06-05 13:14:29+00:00,['66104639'],['vishuITV'],"['BJP', 'NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533437e+18,hi,...,0,0,1,5,22,6.409091,81.000000,-0.400000,40,85
3,1.039760e+18,2022-06-05 12:43:08+00:00,[],[],"['NupurSharma', 'BJP']",NaN,NaN,NaN,1.533429e+18,hi,...,0,0,1,5,21,6.476190,157.000000,0.100000,43,80
4,1.039760e+18,2022-06-05 11:48:53+00:00,[],[],"['NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533416e+18,hi,...,0,0,1,7,22,6.818182,85.000000,0.000000,45,91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9304,1.289236e+18,2022-07-19 03:49:26+00:00,"['1216685521797148672', '143409075']","['bihar_police', 'NitishKumar']",[],NaN,NaN,NaN,1.549240e+18,en,...,0,0,2,14,44,5.295455,91.333333,-0.168750,82,141
9305,1.289236e+18,2022-07-21 14:46:32+00:00,"['38647512', '19192999', '255873659']","['IndianExpress', 'rajkamaljha', 'ShubhajitRoy']",[],NaN,NaN,NaN,1.550130e+18,en,...,0,0,4,11,28,6.535714,51.750000,0.050000,61,108
9306,1.289236e+18,2022-07-21 13:39:58+00:00,['38647512'],['IndianExpress'],[],NaN,NaN,NaN,1.550113e+18,en,...,0,0,3,4,12,7.333333,32.666667,-0.100000,23,54
9307,1.289236e+18,2022-07-21 13:35:19+00:00,[],[],[],NaN,NaN,NaN,1.550112e+18,en,...,0,0,4,17,46,5.260870,71.000000,-0.166667,78,149
9308,1.289236e+18,2022-09-22 08:45:09+00:00,[],[],['UmeshKolhe'],NaN,NaN,NaN,1.572870e+18,en,...,0,0,2,1,9,8.333333,41.000000,0.000000,21,44

### 22—Number of uppercase chars

In [57]:
# Function to count uppercase characters in a string
def count_uppercase(text):
    return sum(1 for char in text if char.isupper())

# Apply the count_uppercase function to the 'Tweet' column and create a new 'Uppercase Count' column
df['uppercase_count'] = df['tweet'].apply(lambda x: count_uppercase(x))

In [58]:
df

,author id,created_at,mentions_id,mentions_username,hashtags,geo,longitude,latitude,id,lang,...,positive_emoji_count,period_count,stopwords_count,words_count,avg_chars_per_word,avg_chars_per_sentence,text_sentiment,Vowel_count,consonant_ount,uppercase_count
0,1.039760e+18,2022-05-30 15:26:08+00:00,[],[],"['Delhi', 'HeavyRain', 'JamaMasjid']",NaN,NaN,NaN,1.531296e+18,hi,...,0,1,9,27,5.555556,176.000000,-0.200000,48,88,26
1,1.039760e+18,2022-06-02 05:08:27+00:00,[],[],"['JamaMasjid', 'Delhi', 'Opinion']",NaN,NaN,NaN,1.532228e+18,hi,...,0,1,8,26,5.807692,178.000000,0.500000,53,87,20
2,1.039760e+18,2022-06-05 13:14:29+00:00,['66104639'],['vishuITV'],"['BJP', 'NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533437e+18,hi,...,0,1,5,22,6.409091,81.000000,-0.400000,40,85,13
3,1.039760e+18,2022-06-05 12:43:08+00:00,[],[],"['NupurSharma', 'BJP']",NaN,NaN,NaN,1.533429e+18,hi,...,0,1,5,21,6.476190,157.000000,0.100000,43,80,11
4,1.039760e+18,2022-06-05 11:48:53+00:00,[],[],"['NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533416e+18,hi,...,0,1,7,22,6.818182,85.000000,0.000000,45,91,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9304,1.289236e+18,2022-07-19 03:49:26+00:00,"['1216685521797148672', '143409075']","['bihar_police', 'NitishKumar']",[],NaN,NaN,NaN,1.549240e+18,en,...,0,2,14,44,5.295455,91.333333,-0.168750,82,141,20
9305,1.289236e+18,2022-07-21 14:46:32+00:00,"['38647512', '19192999', '255873659']","['IndianExpress', 'rajkamaljha', 'ShubhajitRoy']",[],NaN,NaN,NaN,1.550130e+18,en,...,0,4,11,28,6.535714,51.750000,0.050000,61,108,6
9306,1.289236e+18,2022-07-21 13:39:58+00:00,['38647512'],['IndianExpress'],[],NaN,NaN,NaN,1.550113e+18,en,...,0,3,4,12,7.333333,32.666667,-0.100000,23,54,14
9307,1.289236e+18,2022-07-21 13:35:19+00:00,[],[],[],NaN,NaN,NaN,1.550112e+18,en,...,0,4,17,46,5.260870,71.000000,-0.166667,78,149,8
9308,1.289236e+18,2022-09-22 08:45:09+00:00,[],[],['UmeshKolhe'],NaN,NaN,NaN,1.572870e+18,en,...,0,2,1,9,8.333333,41.000000,0.000000,21,44,13

### 23—Number of lowercase chars

In [59]:
# Function to count lowercase characters in a string
def count_lowercase(text):
    return sum(1 for char in text if char.islower())

# Apply the count_lowercase function to the 'Tweet' column and create a new 'Lowercase Count' column
df['lowercase_count'] = df['tweet'].apply(lambda x: count_lowercase(x))

In [60]:
df

,author id,created_at,mentions_id,mentions_username,hashtags,geo,longitude,latitude,id,lang,...,period_count,stopwords_count,words_count,avg_chars_per_word,avg_chars_per_sentence,text_sentiment,Vowel_count,consonant_ount,uppercase_count,lowercase_count
0,1.039760e+18,2022-05-30 15:26:08+00:00,[],[],"['Delhi', 'HeavyRain', 'JamaMasjid']",NaN,NaN,NaN,1.531296e+18,hi,...,1,9,27,5.555556,176.000000,-0.200000,48,88,26,110
1,1.039760e+18,2022-06-02 05:08:27+00:00,[],[],"['JamaMasjid', 'Delhi', 'Opinion']",NaN,NaN,NaN,1.532228e+18,hi,...,1,8,26,5.807692,178.000000,0.500000,53,87,20,120
2,1.039760e+18,2022-06-05 13:14:29+00:00,['66104639'],['vishuITV'],"['BJP', 'NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533437e+18,hi,...,1,5,22,6.409091,81.000000,-0.400000,40,85,13,112
3,1.039760e+18,2022-06-05 12:43:08+00:00,[],[],"['NupurSharma', 'BJP']",NaN,NaN,NaN,1.533429e+18,hi,...,1,5,21,6.476190,157.000000,0.100000,43,80,11,112
4,1.039760e+18,2022-06-05 11:48:53+00:00,[],[],"['NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533416e+18,hi,...,1,7,22,6.818182,85.000000,0.000000,45,91,12,124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9304,1.289236e+18,2022-07-19 03:49:26+00:00,"['1216685521797148672', '143409075']","['bihar_police', 'NitishKumar']",[],NaN,NaN,NaN,1.549240e+18,en,...,2,14,44,5.295455,91.333333,-0.168750,82,141,20,203
9305,1.289236e+18,2022-07-21 14:46:32+00:00,"['38647512', '19192999', '255873659']","['IndianExpress', 'rajkamaljha', 'ShubhajitRoy']",[],NaN,NaN,NaN,1.550130e+18,en,...,4,11,28,6.535714,51.750000,0.050000,61,108,6,163
9306,1.289236e+18,2022-07-21 13:39:58+00:00,['38647512'],['IndianExpress'],[],NaN,NaN,NaN,1.550113e+18,en,...,3,4,12,7.333333,32.666667,-0.100000,23,54,14,63
9307,1.289236e+18,2022-07-21 13:35:19+00:00,[],[],[],NaN,NaN,NaN,1.550112e+18,en,...,4,17,46,5.260870,71.000000,-0.166667,78,149,8,219
9308,1.289236e+18,2022-09-22 08:45:09+00:00,[],[],['UmeshKolhe'],NaN,NaN,NaN,1.572870e+18,en,...,2,1,9,8.333333,41.000000,0.000000,21,44,13,52

### 24—Longest sequence of consecutive vowels

In [61]:
# Function to find longest sequence of consecutive vowels in a string
def longest_vowel_sequence(text):
    pattern = re.compile(r'[aeiouAEIOU]+')
    matches = pattern.findall(text)
    if len(matches) == 0:
        return 0
    else:
        return max(len(match) for match in matches)

# Apply the longest_vowel_sequence function to the 'Tweet' column and create a new 'Longest Vowel Sequence' column
df['longest_vowel_sequence'] = df['tweet'].apply(lambda x: longest_vowel_sequence(x))

In [62]:
df

,author id,created_at,mentions_id,mentions_username,hashtags,geo,longitude,latitude,id,lang,...,stopwords_count,words_count,avg_chars_per_word,avg_chars_per_sentence,text_sentiment,Vowel_count,consonant_ount,uppercase_count,lowercase_count,longest_vowel_sequence
0,1.039760e+18,2022-05-30 15:26:08+00:00,[],[],"['Delhi', 'HeavyRain', 'JamaMasjid']",NaN,NaN,NaN,1.531296e+18,hi,...,9,27,5.555556,176.000000,-0.200000,48,88,26,110,2
1,1.039760e+18,2022-06-02 05:08:27+00:00,[],[],"['JamaMasjid', 'Delhi', 'Opinion']",NaN,NaN,NaN,1.532228e+18,hi,...,8,26,5.807692,178.000000,0.500000,53,87,20,120,2
2,1.039760e+18,2022-06-05 13:14:29+00:00,['66104639'],['vishuITV'],"['BJP', 'NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533437e+18,hi,...,5,22,6.409091,81.000000,-0.400000,40,85,13,112,2
3,1.039760e+18,2022-06-05 12:43:08+00:00,[],[],"['NupurSharma', 'BJP']",NaN,NaN,NaN,1.533429e+18,hi,...,5,21,6.476190,157.000000,0.100000,43,80,11,112,2
4,1.039760e+18,2022-06-05 11:48:53+00:00,[],[],"['NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533416e+18,hi,...,7,22,6.818182,85.000000,0.000000,45,91,12,124,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9304,1.289236e+18,2022-07-19 03:49:26+00:00,"['1216685521797148672', '143409075']","['bihar_police', 'NitishKumar']",[],NaN,NaN,NaN,1.549240e+18,en,...,14,44,5.295455,91.333333,-0.168750,82,141,20,203,2
9305,1.289236e+18,2022-07-21 14:46:32+00:00,"['38647512', '19192999', '255873659']","['IndianExpress', 'rajkamaljha', 'ShubhajitRoy']",[],NaN,NaN,NaN,1.550130e+18,en,...,11,28,6.535714,51.750000,0.050000,61,108,6,163,3
9306,1.289236e+18,2022-07-21 13:39:58+00:00,['38647512'],['IndianExpress'],[],NaN,NaN,NaN,1.550113e+18,en,...,4,12,7.333333,32.666667,-0.100000,23,54,14,63,2
9307,1.289236e+18,2022-07-21 13:35:19+00:00,[],[],[],NaN,NaN,NaN,1.550112e+18,en,...,17,46,5.260870,71.000000,-0.166667,78,149,8,219,2
9308,1.289236e+18,2022-09-22 08:45:09+00:00,[],[],['UmeshKolhe'],NaN,NaN,NaN,1.572870e+18,en,...,1,9,8.333333,41.000000,0.000000,21,44,13,52,2

### 25—Longest sequence of consecutive consonants

In [63]:
# Function to find longest sequence of consecutive consonants in a string
def longest_consonant_sequence(text):
    pattern = re.compile(r'[^aeiouAEIOU\s]+')
    matches = pattern.findall(text)
    if len(matches) == 0:
        return 0
    else:
        return max(len(match) for match in matches)

# Apply the longest_consonant_sequence function to the 'Tweet' column and create a new 'Longest Consonant Sequence' column
df['longest_consonant_cequence'] = df['tweet'].apply(lambda x: longest_consonant_sequence(x))

In [64]:
df

,author id,created_at,mentions_id,mentions_username,hashtags,geo,longitude,latitude,id,lang,...,words_count,avg_chars_per_word,avg_chars_per_sentence,text_sentiment,Vowel_count,consonant_ount,uppercase_count,lowercase_count,longest_vowel_sequence,longest_consonant_cequence
0,1.039760e+18,2022-05-30 15:26:08+00:00,[],[],"['Delhi', 'HeavyRain', 'JamaMasjid']",NaN,NaN,NaN,1.531296e+18,hi,...,27,5.555556,176.000000,-0.200000,48,88,26,110,2,11
1,1.039760e+18,2022-06-02 05:08:27+00:00,[],[],"['JamaMasjid', 'Delhi', 'Opinion']",NaN,NaN,NaN,1.532228e+18,hi,...,26,5.807692,178.000000,0.500000,53,87,20,120,2,11
2,1.039760e+18,2022-06-05 13:14:29+00:00,['66104639'],['vishuITV'],"['BJP', 'NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533437e+18,hi,...,22,6.409091,81.000000,-0.400000,40,85,13,112,2,11
3,1.039760e+18,2022-06-05 12:43:08+00:00,[],[],"['NupurSharma', 'BJP']",NaN,NaN,NaN,1.533429e+18,hi,...,21,6.476190,157.000000,0.100000,43,80,11,112,2,11
4,1.039760e+18,2022-06-05 11:48:53+00:00,[],[],"['NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533416e+18,hi,...,22,6.818182,85.000000,0.000000,45,91,12,124,2,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9304,1.289236e+18,2022-07-19 03:49:26+00:00,"['1216685521797148672', '143409075']","['bihar_police', 'NitishKumar']",[],NaN,NaN,NaN,1.549240e+18,en,...,44,5.295455,91.333333,-0.168750,82,141,20,203,2,3
9305,1.289236e+18,2022-07-21 14:46:32+00:00,"['38647512', '19192999', '255873659']","['IndianExpress', 'rajkamaljha', 'ShubhajitRoy']",[],NaN,NaN,NaN,1.550130e+18,en,...,28,6.535714,51.750000,0.050000,61,108,6,163,3,11
9306,1.289236e+18,2022-07-21 13:39:58+00:00,['38647512'],['IndianExpress'],[],NaN,NaN,NaN,1.550113e+18,en,...,12,7.333333,32.666667,-0.100000,23,54,14,63,2,11
9307,1.289236e+18,2022-07-21 13:35:19+00:00,[],[],[],NaN,NaN,NaN,1.550112e+18,en,...,46,5.260870,71.000000,-0.166667,78,149,8,219,2,11
9308,1.289236e+18,2022-09-22 08:45:09+00:00,[],[],['UmeshKolhe'],NaN,NaN,NaN,1.572870e+18,en,...,9,8.333333,41.000000,0.000000,21,44,13,52,2,11

### 26—Has repetition of [3 identical consecutive chars

In [65]:
# Function to find repetition of three identical consecutive chars in a string
def repetition_of_three_chars(text):
    pattern = re.compile(r'(.)\1\1')
    matches = pattern.findall(text)
    return len(matches)

# Apply the repetition_of_three_chars function to the 'Tweet' column and create a new 'Repetition of Three Consecutive Chars' column
df['repetition_of_three_consecutive_chars'] = df['tweet'].apply(lambda x: repetition_of_three_chars(x))

In [66]:
df

,author id,created_at,mentions_id,mentions_username,hashtags,geo,longitude,latitude,id,lang,...,avg_chars_per_word,avg_chars_per_sentence,text_sentiment,Vowel_count,consonant_ount,uppercase_count,lowercase_count,longest_vowel_sequence,longest_consonant_cequence,repetition_of_three_consecutive_chars
0,1.039760e+18,2022-05-30 15:26:08+00:00,[],[],"['Delhi', 'HeavyRain', 'JamaMasjid']",NaN,NaN,NaN,1.531296e+18,hi,...,5.555556,176.000000,-0.200000,48,88,26,110,2,11,0
1,1.039760e+18,2022-06-02 05:08:27+00:00,[],[],"['JamaMasjid', 'Delhi', 'Opinion']",NaN,NaN,NaN,1.532228e+18,hi,...,5.807692,178.000000,0.500000,53,87,20,120,2,11,0
2,1.039760e+18,2022-06-05 13:14:29+00:00,['66104639'],['vishuITV'],"['BJP', 'NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533437e+18,hi,...,6.409091,81.000000,-0.400000,40,85,13,112,2,11,0
3,1.039760e+18,2022-06-05 12:43:08+00:00,[],[],"['NupurSharma', 'BJP']",NaN,NaN,NaN,1.533429e+18,hi,...,6.476190,157.000000,0.100000,43,80,11,112,2,11,0
4,1.039760e+18,2022-06-05 11:48:53+00:00,[],[],"['NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533416e+18,hi,...,6.818182,85.000000,0.000000,45,91,12,124,2,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9304,1.289236e+18,2022-07-19 03:49:26+00:00,"['1216685521797148672', '143409075']","['bihar_police', 'NitishKumar']",[],NaN,NaN,NaN,1.549240e+18,en,...,5.295455,91.333333,-0.168750,82,141,20,203,2,3,0
9305,1.289236e+18,2022-07-21 14:46:32+00:00,"['38647512', '19192999', '255873659']","['IndianExpress', 'rajkamaljha', 'ShubhajitRoy']",[],NaN,NaN,NaN,1.550130e+18,en,...,6.535714,51.750000,0.050000,61,108,6,163,3,11,0
9306,1.289236e+18,2022-07-21 13:39:58+00:00,['38647512'],['IndianExpress'],[],NaN,NaN,NaN,1.550113e+18,en,...,7.333333,32.666667,-0.100000,23,54,14,63,2,11,0
9307,1.289236e+18,2022-07-21 13:35:19+00:00,[],[],[],NaN,NaN,NaN,1.550112e+18,en,...,5.260870,71.000000,-0.166667,78,149,8,219,2,11,0
9308,1.289236e+18,2022-09-22 08:45:09+00:00,[],[],['UmeshKolhe'],NaN,NaN,NaN,1.572870e+18,en,...,8.333333,41.000000,0.000000,21,44,13,52,2,11,0

### 27—Number of digits

In [67]:
# Function to find number of digits in a string
def count_digits(text):
    pattern = re.compile(r'\d')
    matches = pattern.findall(text)
    return len(matches)

# Apply the count_digits function to the 'Tweet' column and create a new 'Number of Digits' column
df['digit_count'] = df['tweet'].apply(lambda x: count_digits(x))

In [68]:
df

,author id,created_at,mentions_id,mentions_username,hashtags,geo,longitude,latitude,id,lang,...,avg_chars_per_sentence,text_sentiment,Vowel_count,consonant_ount,uppercase_count,lowercase_count,longest_vowel_sequence,longest_consonant_cequence,repetition_of_three_consecutive_chars,digit_count
0,1.039760e+18,2022-05-30 15:26:08+00:00,[],[],"['Delhi', 'HeavyRain', 'JamaMasjid']",NaN,NaN,NaN,1.531296e+18,hi,...,176.000000,-0.200000,48,88,26,110,2,11,0,1
1,1.039760e+18,2022-06-02 05:08:27+00:00,[],[],"['JamaMasjid', 'Delhi', 'Opinion']",NaN,NaN,NaN,1.532228e+18,hi,...,178.000000,0.500000,53,87,20,120,2,11,0,0
2,1.039760e+18,2022-06-05 13:14:29+00:00,['66104639'],['vishuITV'],"['BJP', 'NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533437e+18,hi,...,81.000000,-0.400000,40,85,13,112,2,11,0,1
3,1.039760e+18,2022-06-05 12:43:08+00:00,[],[],"['NupurSharma', 'BJP']",NaN,NaN,NaN,1.533429e+18,hi,...,157.000000,0.100000,43,80,11,112,2,11,0,1
4,1.039760e+18,2022-06-05 11:48:53+00:00,[],[],"['NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533416e+18,hi,...,85.000000,0.000000,45,91,12,124,2,11,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9304,1.289236e+18,2022-07-19 03:49:26+00:00,"['1216685521797148672', '143409075']","['bihar_police', 'NitishKumar']",[],NaN,NaN,NaN,1.549240e+18,en,...,91.333333,-0.168750,82,141,20,203,2,3,0,0
9305,1.289236e+18,2022-07-21 14:46:32+00:00,"['38647512', '19192999', '255873659']","['IndianExpress', 'rajkamaljha', 'ShubhajitRoy']",[],NaN,NaN,NaN,1.550130e+18,en,...,51.750000,0.050000,61,108,6,163,3,11,0,0
9306,1.289236e+18,2022-07-21 13:39:58+00:00,['38647512'],['IndianExpress'],[],NaN,NaN,NaN,1.550113e+18,en,...,32.666667,-0.100000,23,54,14,63,2,11,0,3
9307,1.289236e+18,2022-07-21 13:35:19+00:00,[],[],[],NaN,NaN,NaN,1.550112e+18,en,...,71.000000,-0.166667,78,149,8,219,2,11,0,4
9308,1.289236e+18,2022-09-22 08:45:09+00:00,[],[],['UmeshKolhe'],NaN,NaN,NaN,1.572870e+18,en,...,41.000000,0.000000,21,44,13,52,2,11,0,3

### 28—Number of letters

In [69]:
# Function to find number of letters in a string
def count_letters(text):
    pattern = re.compile(r'[a-zA-Z]')
    matches = pattern.findall(text)
    return len(matches)

# Apply the count_letters function to the 'Tweet' column and create a new 'Number of Letters' column
df['number_of_letters'] = df['tweet'].apply(lambda x: count_letters(x))

In [70]:
df

,author id,created_at,mentions_id,mentions_username,hashtags,geo,longitude,latitude,id,lang,...,text_sentiment,Vowel_count,consonant_ount,uppercase_count,lowercase_count,longest_vowel_sequence,longest_consonant_cequence,repetition_of_three_consecutive_chars,digit_count,number_of_letters
0,1.039760e+18,2022-05-30 15:26:08+00:00,[],[],"['Delhi', 'HeavyRain', 'JamaMasjid']",NaN,NaN,NaN,1.531296e+18,hi,...,-0.200000,48,88,26,110,2,11,0,1,136
1,1.039760e+18,2022-06-02 05:08:27+00:00,[],[],"['JamaMasjid', 'Delhi', 'Opinion']",NaN,NaN,NaN,1.532228e+18,hi,...,0.500000,53,87,20,120,2,11,0,0,140
2,1.039760e+18,2022-06-05 13:14:29+00:00,['66104639'],['vishuITV'],"['BJP', 'NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533437e+18,hi,...,-0.400000,40,85,13,112,2,11,0,1,125
3,1.039760e+18,2022-06-05 12:43:08+00:00,[],[],"['NupurSharma', 'BJP']",NaN,NaN,NaN,1.533429e+18,hi,...,0.100000,43,80,11,112,2,11,0,1,123
4,1.039760e+18,2022-06-05 11:48:53+00:00,[],[],"['NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533416e+18,hi,...,0.000000,45,91,12,124,2,11,0,4,136
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9304,1.289236e+18,2022-07-19 03:49:26+00:00,"['1216685521797148672', '143409075']","['bihar_police', 'NitishKumar']",[],NaN,NaN,NaN,1.549240e+18,en,...,-0.168750,82,141,20,203,2,3,0,0,223
9305,1.289236e+18,2022-07-21 14:46:32+00:00,"['38647512', '19192999', '255873659']","['IndianExpress', 'rajkamaljha', 'ShubhajitRoy']",[],NaN,NaN,NaN,1.550130e+18,en,...,0.050000,61,108,6,163,3,11,0,0,169
9306,1.289236e+18,2022-07-21 13:39:58+00:00,['38647512'],['IndianExpress'],[],NaN,NaN,NaN,1.550113e+18,en,...,-0.100000,23,54,14,63,2,11,0,3,77
9307,1.289236e+18,2022-07-21 13:35:19+00:00,[],[],[],NaN,NaN,NaN,1.550112e+18,en,...,-0.166667,78,149,8,219,2,11,0,4,227
9308,1.289236e+18,2022-09-22 08:45:09+00:00,[],[],['UmeshKolhe'],NaN,NaN,NaN,1.572870e+18,en,...,0.000000,21,44,13,52,2,11,0,3,65

### 29—Ratio of letters to digits

In [71]:
# Function to find ratio of letters to digits in a tweet
def letter_to_digit_ratio(row):

    if row['digit_count'] == 0:
        result = 0 # Use 'inf' (infinity) as the result
    else:
        result = row['number_of_letters'] / row['digit_count']
    return result


# Apply the letter_to_digit_ratio function to the 'Number of Letters' and 'Number of Digits' columns
# and create a new 'Letter to Digit Ratio' column
df['letter_to_digit_ratio'] = df.apply(lambda row: letter_to_digit_ratio(row), axis=1)

In [72]:
df

,author id,created_at,mentions_id,mentions_username,hashtags,geo,longitude,latitude,id,lang,...,Vowel_count,consonant_ount,uppercase_count,lowercase_count,longest_vowel_sequence,longest_consonant_cequence,repetition_of_three_consecutive_chars,digit_count,number_of_letters,letter_to_digit_ratio
0,1.039760e+18,2022-05-30 15:26:08+00:00,[],[],"['Delhi', 'HeavyRain', 'JamaMasjid']",NaN,NaN,NaN,1.531296e+18,hi,...,48,88,26,110,2,11,0,1,136,136.000000
1,1.039760e+18,2022-06-02 05:08:27+00:00,[],[],"['JamaMasjid', 'Delhi', 'Opinion']",NaN,NaN,NaN,1.532228e+18,hi,...,53,87,20,120,2,11,0,0,140,0.000000
2,1.039760e+18,2022-06-05 13:14:29+00:00,['66104639'],['vishuITV'],"['BJP', 'NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533437e+18,hi,...,40,85,13,112,2,11,0,1,125,125.000000
3,1.039760e+18,2022-06-05 12:43:08+00:00,[],[],"['NupurSharma', 'BJP']",NaN,NaN,NaN,1.533429e+18,hi,...,43,80,11,112,2,11,0,1,123,123.000000
4,1.039760e+18,2022-06-05 11:48:53+00:00,[],[],"['NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533416e+18,hi,...,45,91,12,124,2,11,0,4,136,34.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9304,1.289236e+18,2022-07-19 03:49:26+00:00,"['1216685521797148672', '143409075']","['bihar_police', 'NitishKumar']",[],NaN,NaN,NaN,1.549240e+18,en,...,82,141,20,203,2,3,0,0,223,0.000000
9305,1.289236e+18,2022-07-21 14:46:32+00:00,"['38647512', '19192999', '255873659']","['IndianExpress', 'rajkamaljha', 'ShubhajitRoy']",[],NaN,NaN,NaN,1.550130e+18,en,...,61,108,6,163,3,11,0,0,169,0.000000
9306,1.289236e+18,2022-07-21 13:39:58+00:00,['38647512'],['IndianExpress'],[],NaN,NaN,NaN,1.550113e+18,en,...,23,54,14,63,2,11,0,3,77,25.666667
9307,1.289236e+18,2022-07-21 13:35:19+00:00,[],[],[],NaN,NaN,NaN,1.550112e+18,en,...,78,149,8,219,2,11,0,4,227,56.750000
9308,1.289236e+18,2022-09-22 08:45:09+00:00,[],[],['UmeshKolhe'],NaN,NaN,NaN,1.572870e+18,en,...,21,44,13,52,2,11,0,3,65,21.666667

### 30—Number of pronouns

In [73]:
# !pip install python spacy download en_core_web_lg
# !pip install python spacy download en_core_web_sm

In [74]:
import spacy

# Load English language model in spaCy
nlp = spacy.load('en_core_web_sm')

2024-01-11 22:40:19.292930: I external/local_tsl/tsl/cuda/cudart_stub.cc:31] Could not find cuda drivers on your machine, GPU will not be used.
2024-01-11 22:40:19.335687: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:9261] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2024-01-11 22:40:19.335744: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:607] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2024-01-11 22:40:19.337177: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1515] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2024-01-11 22:40:19.344635: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-01-11 22:40:20.267480: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT
2024-01-11 22:40:20.946064: W tensorflow/core/common_runtime/gpu/gpu_device.cc:2256] Cannot dlopen some GPU libraries. Please make sure the missing libraries mentioned above are installed properly if you would like to use GPU. Follow the guide at https://www.tensorflow.org/install/gpu for how to download and setup the required libraries for your platform.
Skipping registering GPU devices...

In [75]:
# List of pronouns to count
pronouns = ['I', 'you', 'he', 'she', 'it', 'we', 'they', 'me', 'him', 'her', 'us', 'them', 'my', 'your', 'his', 'her', 'its', 'our', 'their', 'mine', 'yours', 'hers', 'theirs', 'who', 'whom', 'whose', 'whatever', 'whoever', 'whichever', 'anybody', 'anyone', 'anything', 'each', 'either', 'everybody', 'everyone', 'everything', 'neither', 'nobody', 'nothing', 'one', 'somebody', 'someone', 'something', 'both', 'few', 'many', 'several', 'all', 'any', 'most', 'none', 'some', 'such']

# Function to count pronouns in a tweet
def count_pronouns(tweet):
    doc = nlp(tweet)
    pronoun_count = 0
    for token in doc:
        if token.text.lower() in pronouns:
            pronoun_count += 1
    return pronoun_count

# Apply the count_pronouns function to the 'Tweet' column and create a new 'Number of Pronouns' column
df['number_of_pronouns'] = df['tweet'].apply(lambda x: count_pronouns(x))

In [76]:
df

,author id,created_at,mentions_id,mentions_username,hashtags,geo,longitude,latitude,id,lang,...,consonant_ount,uppercase_count,lowercase_count,longest_vowel_sequence,longest_consonant_cequence,repetition_of_three_consecutive_chars,digit_count,number_of_letters,letter_to_digit_ratio,number_of_pronouns
0,1.039760e+18,2022-05-30 15:26:08+00:00,[],[],"['Delhi', 'HeavyRain', 'JamaMasjid']",NaN,NaN,NaN,1.531296e+18,hi,...,88,26,110,2,11,0,1,136,136.000000,0
1,1.039760e+18,2022-06-02 05:08:27+00:00,[],[],"['JamaMasjid', 'Delhi', 'Opinion']",NaN,NaN,NaN,1.532228e+18,hi,...,87,20,120,2,11,0,0,140,0.000000,1
2,1.039760e+18,2022-06-05 13:14:29+00:00,['66104639'],['vishuITV'],"['BJP', 'NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533437e+18,hi,...,85,13,112,2,11,0,1,125,125.000000,0
3,1.039760e+18,2022-06-05 12:43:08+00:00,[],[],"['NupurSharma', 'BJP']",NaN,NaN,NaN,1.533429e+18,hi,...,80,11,112,2,11,0,1,123,123.000000,1
4,1.039760e+18,2022-06-05 11:48:53+00:00,[],[],"['NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533416e+18,hi,...,91,12,124,2,11,0,4,136,34.000000,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9304,1.289236e+18,2022-07-19 03:49:26+00:00,"['1216685521797148672', '143409075']","['bihar_police', 'NitishKumar']",[],NaN,NaN,NaN,1.549240e+18,en,...,141,20,203,2,3,0,0,223,0.000000,1
9305,1.289236e+18,2022-07-21 14:46:32+00:00,"['38647512', '19192999', '255873659']","['IndianExpress', 'rajkamaljha', 'ShubhajitRoy']",[],NaN,NaN,NaN,1.550130e+18,en,...,108,6,163,3,11,0,0,169,0.000000,1
9306,1.289236e+18,2022-07-21 13:39:58+00:00,['38647512'],['IndianExpress'],[],NaN,NaN,NaN,1.550113e+18,en,...,54,14,63,2,11,0,3,77,25.666667,0
9307,1.289236e+18,2022-07-21 13:35:19+00:00,[],[],[],NaN,NaN,NaN,1.550112e+18,en,...,149,8,219,2,11,0,4,227,56.750000,2
9308,1.289236e+18,2022-09-22 08:45:09+00:00,[],[],['UmeshKolhe'],NaN,NaN,NaN,1.572870e+18,en,...,44,13,52,2,11,0,3,65,21.666667,0

### 31—Number of determiners

In [77]:
# List of determiners to count
determiners = ['a', 'an', 'the', 'this', 'that', 'these', 'those', 'my', 'your', 'his', 'her', 'its', 'our', 'their', 'few', 'many', 'much', 'most', 'several', 'some', 'any', 'enough', 'all', 'both', 'half', 'either', 'neither', 'each', 'every', 'other', 'another', 'such']

# Function to count determiners in a tweet
def count_determiners(tweet):
    doc = nlp(tweet)
    determiner_count = 0
    for token in doc:
        if token.pos_ == 'DET' and token.text.lower() in determiners:
            determiner_count += 1
    return determiner_count

# Apply the count_determiners function to the 'Tweet' column and create a new 'Number of Determiners' column
df['number_of_determiners'] = df['tweet'].apply(lambda x: count_determiners(x))

In [78]:
df

,author id,created_at,mentions_id,mentions_username,hashtags,geo,longitude,latitude,id,lang,...,uppercase_count,lowercase_count,longest_vowel_sequence,longest_consonant_cequence,repetition_of_three_consecutive_chars,digit_count,number_of_letters,letter_to_digit_ratio,number_of_pronouns,number_of_determiners
0,1.039760e+18,2022-05-30 15:26:08+00:00,[],[],"['Delhi', 'HeavyRain', 'JamaMasjid']",NaN,NaN,NaN,1.531296e+18,hi,...,26,110,2,11,0,1,136,136.000000,0,4
1,1.039760e+18,2022-06-02 05:08:27+00:00,[],[],"['JamaMasjid', 'Delhi', 'Opinion']",NaN,NaN,NaN,1.532228e+18,hi,...,20,120,2,11,0,0,140,0.000000,1,3
2,1.039760e+18,2022-06-05 13:14:29+00:00,['66104639'],['vishuITV'],"['BJP', 'NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533437e+18,hi,...,13,112,2,11,0,1,125,125.000000,0,1
3,1.039760e+18,2022-06-05 12:43:08+00:00,[],[],"['NupurSharma', 'BJP']",NaN,NaN,NaN,1.533429e+18,hi,...,11,112,2,11,0,1,123,123.000000,1,0
4,1.039760e+18,2022-06-05 11:48:53+00:00,[],[],"['NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533416e+18,hi,...,12,124,2,11,0,4,136,34.000000,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9304,1.289236e+18,2022-07-19 03:49:26+00:00,"['1216685521797148672', '143409075']","['bihar_police', 'NitishKumar']",[],NaN,NaN,NaN,1.549240e+18,en,...,20,203,2,3,0,0,223,0.000000,1,2
9305,1.289236e+18,2022-07-21 14:46:32+00:00,"['38647512', '19192999', '255873659']","['IndianExpress', 'rajkamaljha', 'ShubhajitRoy']",[],NaN,NaN,NaN,1.550130e+18,en,...,6,163,3,11,0,0,169,0.000000,1,1
9306,1.289236e+18,2022-07-21 13:39:58+00:00,['38647512'],['IndianExpress'],[],NaN,NaN,NaN,1.550113e+18,en,...,14,63,2,11,0,3,77,25.666667,0,0
9307,1.289236e+18,2022-07-21 13:35:19+00:00,[],[],[],NaN,NaN,NaN,1.550112e+18,en,...,8,219,2,11,0,4,227,56.750000,2,0
9308,1.289236e+18,2022-09-22 08:45:09+00:00,[],[],['UmeshKolhe'],NaN,NaN,NaN,1.572870e+18,en,...,13,52,2,11,0,3,65,21.666667,0,0

### 32—Number of nouns

In [79]:
# Function to count nouns in a tweet
def count_nouns(tweet):
    doc = nlp(tweet)
    noun_count = 0
    for token in doc:
        if token.pos_ == 'NOUN':
            noun_count += 1
    return noun_count

# Apply the count_nouns function to the 'Tweet' column and create a new 'Number of Nouns' column
df['number_of_nouns'] = df['tweet'].apply(lambda x: count_nouns(x))

In [80]:
df

,author id,created_at,mentions_id,mentions_username,hashtags,geo,longitude,latitude,id,lang,...,lowercase_count,longest_vowel_sequence,longest_consonant_cequence,repetition_of_three_consecutive_chars,digit_count,number_of_letters,letter_to_digit_ratio,number_of_pronouns,number_of_determiners,number_of_nouns
0,1.039760e+18,2022-05-30 15:26:08+00:00,[],[],"['Delhi', 'HeavyRain', 'JamaMasjid']",NaN,NaN,NaN,1.531296e+18,hi,...,110,2,11,0,1,136,136.000000,0,4,9
1,1.039760e+18,2022-06-02 05:08:27+00:00,[],[],"['JamaMasjid', 'Delhi', 'Opinion']",NaN,NaN,NaN,1.532228e+18,hi,...,120,2,11,0,0,140,0.000000,1,3,7
2,1.039760e+18,2022-06-05 13:14:29+00:00,['66104639'],['vishuITV'],"['BJP', 'NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533437e+18,hi,...,112,2,11,0,1,125,125.000000,0,1,6
3,1.039760e+18,2022-06-05 12:43:08+00:00,[],[],"['NupurSharma', 'BJP']",NaN,NaN,NaN,1.533429e+18,hi,...,112,2,11,0,1,123,123.000000,1,0,6
4,1.039760e+18,2022-06-05 11:48:53+00:00,[],[],"['NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533416e+18,hi,...,124,2,11,0,4,136,34.000000,2,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9304,1.289236e+18,2022-07-19 03:49:26+00:00,"['1216685521797148672', '143409075']","['bihar_police', 'NitishKumar']",[],NaN,NaN,NaN,1.549240e+18,en,...,203,2,3,0,0,223,0.000000,1,2,6
9305,1.289236e+18,2022-07-21 14:46:32+00:00,"['38647512', '19192999', '255873659']","['IndianExpress', 'rajkamaljha', 'ShubhajitRoy']",[],NaN,NaN,NaN,1.550130e+18,en,...,163,3,11,0,0,169,0.000000,1,1,10
9306,1.289236e+18,2022-07-21 13:39:58+00:00,['38647512'],['IndianExpress'],[],NaN,NaN,NaN,1.550113e+18,en,...,63,2,11,0,3,77,25.666667,0,0,2
9307,1.289236e+18,2022-07-21 13:35:19+00:00,[],[],[],NaN,NaN,NaN,1.550112e+18,en,...,219,2,11,0,4,227,56.750000,2,0,15
9308,1.289236e+18,2022-09-22 08:45:09+00:00,[],[],['UmeshKolhe'],NaN,NaN,NaN,1.572870e+18,en,...,52,2,11,0,3,65,21.666667,0,0,0

### 33—Number of adverbs

In [81]:
# Function to count adverbs in a tweet
def count_adverbs(tweet):
    doc = nlp(tweet)
    adverb_count = 0
    for token in doc:
        if token.pos_ == 'ADV':
            adverb_count += 1
    return adverb_count

# Apply the count_adverbs function to the 'Tweet' column and create a new 'Number of Adverbs' column
df['number_of_adverbs'] = df['tweet'].apply(lambda x: count_adverbs(x))

In [82]:
df

,author id,created_at,mentions_id,mentions_username,hashtags,geo,longitude,latitude,id,lang,...,longest_vowel_sequence,longest_consonant_cequence,repetition_of_three_consecutive_chars,digit_count,number_of_letters,letter_to_digit_ratio,number_of_pronouns,number_of_determiners,number_of_nouns,number_of_adverbs
0,1.039760e+18,2022-05-30 15:26:08+00:00,[],[],"['Delhi', 'HeavyRain', 'JamaMasjid']",NaN,NaN,NaN,1.531296e+18,hi,...,2,11,0,1,136,136.000000,0,4,9,0
1,1.039760e+18,2022-06-02 05:08:27+00:00,[],[],"['JamaMasjid', 'Delhi', 'Opinion']",NaN,NaN,NaN,1.532228e+18,hi,...,2,11,0,0,140,0.000000,1,3,7,1
2,1.039760e+18,2022-06-05 13:14:29+00:00,['66104639'],['vishuITV'],"['BJP', 'NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533437e+18,hi,...,2,11,0,1,125,125.000000,0,1,6,0
3,1.039760e+18,2022-06-05 12:43:08+00:00,[],[],"['NupurSharma', 'BJP']",NaN,NaN,NaN,1.533429e+18,hi,...,2,11,0,1,123,123.000000,1,0,6,0
4,1.039760e+18,2022-06-05 11:48:53+00:00,[],[],"['NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533416e+18,hi,...,2,11,0,4,136,34.000000,2,1,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9304,1.289236e+18,2022-07-19 03:49:26+00:00,"['1216685521797148672', '143409075']","['bihar_police', 'NitishKumar']",[],NaN,NaN,NaN,1.549240e+18,en,...,2,3,0,0,223,0.000000,1,2,6,0
9305,1.289236e+18,2022-07-21 14:46:32+00:00,"['38647512', '19192999', '255873659']","['IndianExpress', 'rajkamaljha', 'ShubhajitRoy']",[],NaN,NaN,NaN,1.550130e+18,en,...,3,11,0,0,169,0.000000,1,1,10,0
9306,1.289236e+18,2022-07-21 13:39:58+00:00,['38647512'],['IndianExpress'],[],NaN,NaN,NaN,1.550113e+18,en,...,2,11,0,3,77,25.666667,0,0,2,0
9307,1.289236e+18,2022-07-21 13:35:19+00:00,[],[],[],NaN,NaN,NaN,1.550112e+18,en,...,2,11,0,4,227,56.750000,2,0,15,0
9308,1.289236e+18,2022-09-22 08:45:09+00:00,[],[],['UmeshKolhe'],NaN,NaN,NaN,1.572870e+18,en,...,2,11,0,3,65,21.666667,0,0,0,0

### 34—Number of ‘‘to’’

In [83]:
# Function to count 'to' in a tweet
def count_to(tweet):
    return tweet.count('to')

# Apply the count_to function to the 'Tweet' column and create a new 'Number of to' column
df['number_of_to'] = df['tweet'].apply(lambda x: count_to(x))

In [84]:
df

,author id,created_at,mentions_id,mentions_username,hashtags,geo,longitude,latitude,id,lang,...,longest_consonant_cequence,repetition_of_three_consecutive_chars,digit_count,number_of_letters,letter_to_digit_ratio,number_of_pronouns,number_of_determiners,number_of_nouns,number_of_adverbs,number_of_to
0,1.039760e+18,2022-05-30 15:26:08+00:00,[],[],"['Delhi', 'HeavyRain', 'JamaMasjid']",NaN,NaN,NaN,1.531296e+18,hi,...,11,0,1,136,136.000000,0,4,9,0,3
1,1.039760e+18,2022-06-02 05:08:27+00:00,[],[],"['JamaMasjid', 'Delhi', 'Opinion']",NaN,NaN,NaN,1.532228e+18,hi,...,11,0,0,140,0.000000,1,3,7,1,0
2,1.039760e+18,2022-06-05 13:14:29+00:00,['66104639'],['vishuITV'],"['BJP', 'NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533437e+18,hi,...,11,0,1,125,125.000000,0,1,6,0,1
3,1.039760e+18,2022-06-05 12:43:08+00:00,[],[],"['NupurSharma', 'BJP']",NaN,NaN,NaN,1.533429e+18,hi,...,11,0,1,123,123.000000,1,0,6,0,2
4,1.039760e+18,2022-06-05 11:48:53+00:00,[],[],"['NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533416e+18,hi,...,11,0,4,136,34.000000,2,1,5,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9304,1.289236e+18,2022-07-19 03:49:26+00:00,"['1216685521797148672', '143409075']","['bihar_police', 'NitishKumar']",[],NaN,NaN,NaN,1.549240e+18,en,...,3,0,0,223,0.000000,1,2,6,0,2
9305,1.289236e+18,2022-07-21 14:46:32+00:00,"['38647512', '19192999', '255873659']","['IndianExpress', 'rajkamaljha', 'ShubhajitRoy']",[],NaN,NaN,NaN,1.550130e+18,en,...,11,0,0,169,0.000000,1,1,10,0,0
9306,1.289236e+18,2022-07-21 13:39:58+00:00,['38647512'],['IndianExpress'],[],NaN,NaN,NaN,1.550113e+18,en,...,11,0,3,77,25.666667,0,0,2,0,0
9307,1.289236e+18,2022-07-21 13:35:19+00:00,[],[],[],NaN,NaN,NaN,1.550112e+18,en,...,11,0,4,227,56.750000,2,0,15,0,1
9308,1.289236e+18,2022-09-22 08:45:09+00:00,[],[],['UmeshKolhe'],NaN,NaN,NaN,1.572870e+18,en,...,11,0,3,65,21.666667,0,0,0,0,0

### 35—Number of verbs

In [85]:
# Function to count verbs in a tweet
def count_verbs(tweet):
    doc = nlp(tweet)
    verb_count = 0
    for token in doc:
        if token.pos_ == 'VERB':
            verb_count += 1
    return verb_count

# Apply the count_verbs function to the 'Tweet' column and create a new 'Number of Verbs' column
df['number_of_verbs'] = df['tweet'].apply(lambda x: count_verbs(x))

In [86]:
df

,author id,created_at,mentions_id,mentions_username,hashtags,geo,longitude,latitude,id,lang,...,repetition_of_three_consecutive_chars,digit_count,number_of_letters,letter_to_digit_ratio,number_of_pronouns,number_of_determiners,number_of_nouns,number_of_adverbs,number_of_to,number_of_verbs
0,1.039760e+18,2022-05-30 15:26:08+00:00,[],[],"['Delhi', 'HeavyRain', 'JamaMasjid']",NaN,NaN,NaN,1.531296e+18,hi,...,0,1,136,136.000000,0,4,9,0,3,2
1,1.039760e+18,2022-06-02 05:08:27+00:00,[],[],"['JamaMasjid', 'Delhi', 'Opinion']",NaN,NaN,NaN,1.532228e+18,hi,...,0,0,140,0.000000,1,3,7,1,0,1
2,1.039760e+18,2022-06-05 13:14:29+00:00,['66104639'],['vishuITV'],"['BJP', 'NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533437e+18,hi,...,0,1,125,125.000000,0,1,6,0,1,0
3,1.039760e+18,2022-06-05 12:43:08+00:00,[],[],"['NupurSharma', 'BJP']",NaN,NaN,NaN,1.533429e+18,hi,...,0,1,123,123.000000,1,0,6,0,2,2
4,1.039760e+18,2022-06-05 11:48:53+00:00,[],[],"['NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533416e+18,hi,...,0,4,136,34.000000,2,1,5,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9304,1.289236e+18,2022-07-19 03:49:26+00:00,"['1216685521797148672', '143409075']","['bihar_police', 'NitishKumar']",[],NaN,NaN,NaN,1.549240e+18,en,...,0,0,223,0.000000,1,2,6,0,2,7
9305,1.289236e+18,2022-07-21 14:46:32+00:00,"['38647512', '19192999', '255873659']","['IndianExpress', 'rajkamaljha', 'ShubhajitRoy']",[],NaN,NaN,NaN,1.550130e+18,en,...,0,0,169,0.000000,1,1,10,0,0,2
9306,1.289236e+18,2022-07-21 13:39:58+00:00,['38647512'],['IndianExpress'],[],NaN,NaN,NaN,1.550113e+18,en,...,0,3,77,25.666667,0,0,2,0,0,1
9307,1.289236e+18,2022-07-21 13:35:19+00:00,[],[],[],NaN,NaN,NaN,1.550112e+18,en,...,0,4,227,56.750000,2,0,15,0,1,4
9308,1.289236e+18,2022-09-22 08:45:09+00:00,[],[],['UmeshKolhe'],NaN,NaN,NaN,1.572870e+18,en,...,0,3,65,21.666667,0,0,0,0,0,2

### 36—Number of entities

In [87]:
# Function to count named entities in a tweet
def count_entities(tweet):
    doc = nlp(tweet)
    entity_count = len(doc.ents)
    return entity_count

# Apply the count_entities function to the 'Tweet' column and create a new 'Number of Entities' column
df['number_of_entities'] = df['tweet'].apply(lambda x: count_entities(x))

In [105]:
df

,author id,created_at,mentions_id,mentions_username,hashtags,geo,longitude,latitude,id,lang,...,letter_to_digit_ratio,number_of_pronouns,number_of_determiners,number_of_nouns,number_of_adverbs,number_of_to,number_of_verbs,number_of_entities,tweet_entropy,no_of_sent
0,1.039760e+18,2022-05-30 15:26:08+00:00,[],[],"['Delhi', 'HeavyRain', 'JamaMasjid']",NaN,NaN,NaN,1.531296e+18,hi,...,136.000000,0,4,9,0,3,2,5,2.890523,1
1,1.039760e+18,2022-06-02 05:08:27+00:00,[],[],"['JamaMasjid', 'Delhi', 'Opinion']",NaN,NaN,NaN,1.532228e+18,hi,...,0.000000,1,3,7,1,0,1,6,2.917864,1
2,1.039760e+18,2022-06-05 13:14:29+00:00,['66104639'],['vishuITV'],"['BJP', 'NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533437e+18,hi,...,125.000000,0,1,6,0,1,0,4,2.961307,1
3,1.039760e+18,2022-06-05 12:43:08+00:00,[],[],"['NupurSharma', 'BJP']",NaN,NaN,NaN,1.533429e+18,hi,...,123.000000,1,0,6,0,2,2,5,2.929387,1
4,1.039760e+18,2022-06-05 11:48:53+00:00,[],[],"['NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533416e+18,hi,...,34.000000,2,1,5,0,0,2,5,2.979514,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9304,1.289236e+18,2022-07-19 03:49:26+00:00,"['1216685521797148672', '143409075']","['bihar_police', 'NitishKumar']",[],NaN,NaN,NaN,1.549240e+18,en,...,0.000000,1,2,6,0,2,7,7,2.870064,2
9305,1.289236e+18,2022-07-21 14:46:32+00:00,"['38647512', '19192999', '255873659']","['IndianExpress', 'rajkamaljha', 'ShubhajitRoy']",[],NaN,NaN,NaN,1.550130e+18,en,...,0.000000,1,1,10,0,0,2,1,2.931785,4
9306,1.289236e+18,2022-07-21 13:39:58+00:00,['38647512'],['IndianExpress'],[],NaN,NaN,NaN,1.550113e+18,en,...,25.666667,0,0,2,0,0,1,1,2.924632,2
9307,1.289236e+18,2022-07-21 13:35:19+00:00,[],[],[],NaN,NaN,NaN,1.550112e+18,en,...,56.750000,2,0,15,0,1,4,4,2.956538,1
9308,1.289236e+18,2022-09-22 08:45:09+00:00,[],[],['UmeshKolhe'],NaN,NaN,NaN,1.572870e+18,en,...,21.666667,0,0,0,0,0,2,3,2.887011,1

### 37—Tweet entropy

In [89]:
from scipy.stats import entropy
import string

In [90]:
# Function to calculate tweet entropy
def tweet_entropy(tweet):
    # Convert tweet to lowercase
    tweet = tweet.lower()
    # Remove punctuation
    tweet = tweet.translate(str.maketrans('', '', string.punctuation))
    # Calculate frequency of each character
    freq = [tweet.count(c) for c in set(tweet)]
    # Calculate probability distribution
    prob = [f/sum(freq) for f in freq]
    # Calculate entropy
    ent = entropy(prob)
    return ent

# Apply the tweet_entropy function to the 'Tweet' column and create a new 'Tweet Entropy' column
df['tweet_entropy'] = df['tweet'].apply(lambda x: tweet_entropy(x))

In [91]:
df

,author id,created_at,mentions_id,mentions_username,hashtags,geo,longitude,latitude,id,lang,...,number_of_letters,letter_to_digit_ratio,number_of_pronouns,number_of_determiners,number_of_nouns,number_of_adverbs,number_of_to,number_of_verbs,number_of_entities,tweet_entropy
0,1.039760e+18,2022-05-30 15:26:08+00:00,[],[],"['Delhi', 'HeavyRain', 'JamaMasjid']",NaN,NaN,NaN,1.531296e+18,hi,...,136,136.000000,0,4,9,0,3,2,5,2.890523
1,1.039760e+18,2022-06-02 05:08:27+00:00,[],[],"['JamaMasjid', 'Delhi', 'Opinion']",NaN,NaN,NaN,1.532228e+18,hi,...,140,0.000000,1,3,7,1,0,1,6,2.917864
2,1.039760e+18,2022-06-05 13:14:29+00:00,['66104639'],['vishuITV'],"['BJP', 'NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533437e+18,hi,...,125,125.000000,0,1,6,0,1,0,4,2.961307
3,1.039760e+18,2022-06-05 12:43:08+00:00,[],[],"['NupurSharma', 'BJP']",NaN,NaN,NaN,1.533429e+18,hi,...,123,123.000000,1,0,6,0,2,2,5,2.929387
4,1.039760e+18,2022-06-05 11:48:53+00:00,[],[],"['NupurSharma', 'NaveenJindal']",NaN,NaN,NaN,1.533416e+18,hi,...,136,34.000000,2,1,5,0,0,2,5,2.979514
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9304,1.289236e+18,2022-07-19 03:49:26+00:00,"['1216685521797148672', '143409075']","['bihar_police', 'NitishKumar']",[],NaN,NaN,NaN,1.549240e+18,en,...,223,0.000000,1,2,6,0,2,7,7,2.870064
9305,1.289236e+18,2022-07-21 14:46:32+00:00,"['38647512', '19192999', '255873659']","['IndianExpress', 'rajkamaljha', 'ShubhajitRoy']",[],NaN,NaN,NaN,1.550130e+18,en,...,169,0.000000,1,1,10,0,0,2,1,2.931785
9306,1.289236e+18,2022-07-21 13:39:58+00:00,['38647512'],['IndianExpress'],[],NaN,NaN,NaN,1.550113e+18,en,...,77,25.666667,0,0,2,0,0,1,1,2.924632
9307,1.289236e+18,2022-07-21 13:35:19+00:00,[],[],[],NaN,NaN,NaN,1.550112e+18,en,...,227,56.750000,2,0,15,0,1,4,4,2.956538
9308,1.289236e+18,2022-09-22 08:45:09+00:00,[],[],['UmeshKolhe'],NaN,NaN,NaN,1.572870e+18,en,...,65,21.666667,0,0,0,0,0,2,3,2.887011

In [92]:
print(df.columns)

Index(['author id', 'created_at', 'mentions_id', 'mentions_username',
       'hashtags', 'geo', 'longitude', 'latitude', 'id', 'lang', 'like_count',
       'quote_count', 'reply_count', 'retweet_count', 'follower_count',
       'source', 'tweet', 'target', 'tweet_length', 'tokens_count', 'TTR',
       'url_count', 'hashtags_count', 'punctuation_count', 'interrobang_count',
       'question_mark_count', 'exclamation_mark_count', 'non_emoji_count',
       'emoji_count', 'negative_emoji_count', 'neutral_emoji_count',
       'positive_emoji_count', 'period_count', 'stopwords_count',
       'words_count', 'avg_chars_per_word', 'avg_chars_per_sentence',
       'text_sentiment', 'Vowel_count', 'consonant_ount', 'uppercase_count',
       'lowercase_count', 'longest_vowel_sequence',
       'longest_consonant_cequence', 'repetition_of_three_consecutive_chars',
       'digit_count', 'number_of_letters', 'letter_to_digit_ratio',
       'number_of_pronouns', 'number_of_determiners', 'number_of_nouns',
       'number_of_adverbs', 'number_of_to', 'number_of_verbs',
       'number_of_entities', 'tweet_entropy'],
      dtype='object')

### 38—Handcrafted

In [106]:
# # save the DataFrame to a CSV file
# df.to_csv('data_9309.csv', index=False)

In [137]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

#Basic libraries
import pandas as pd 
import numpy as np 

#Visualization libraries
import matplotlib.pyplot as plt 
from matplotlib import rcParams
import seaborn as sns
from textblob import TextBlob
from plotly import tools
import plotly.express as px
import plotly.graph_objs as go
from plotly.offline import iplot
%matplotlib inline
plt.rcParams['figure.figsize'] = [10, 5]
import cufflinks as cf
cf.go_offline()
cf.set_config_file(offline=False, world_readable=True)

#NLTK libraries
import nltk
import re
import string
from nltk.corpus import stopwords
from wordcloud import WordCloud,STOPWORDS
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
# Machine Learning libraries
import sklearn 
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import MultinomialNB 
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split


#Metrics libraries
from sklearn import metrics
from sklearn.metrics import classification_report
from sklearn.model_selection import cross_val_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn import svm
from sklearn.datasets import make_classification
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import precision_recall_fscore_support

#Miscellanous libraries
from collections import Counter

#Ignore warnings
import warnings
warnings.filterwarnings('ignore')

#Deep learning libraries
from tensorflow.keras.layers import Embedding
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.models import Sequential
from tensorflow.keras.preprocessing.text import one_hot
from tensorflow.keras.layers import LSTM
from tensorflow.keras.layers import Bidirectional
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import Dropout




import networkx as nx
import penman
from karateclub import Graph2Vec
from nltk.tokenize import sent_tokenize
from keras.callbacks import ReduceLROnPlateau, EarlyStopping
import textstat
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import LatentDirichletAllocation

In [138]:
from copy import deepcopy

add_df = deepcopy(df)

In [141]:
add_df['UniqueWordCount'] = add_df['tweet'].apply(lambda x: len(set(str(x).split())))
add_df['CapitalizedWordCount'] = add_df['tweet'].apply(lambda x: sum(1 for word in str(x).split() if word.isupper()))
add_df['ReadabilityDC'] = add_df['tweet'].apply(lambda x: textstat.dale_chall_readability_score(x))
add_df['ReadabilityDC'] = add_df['tweet'].apply(lambda x: textstat.dale_chall_readability_score(x))
add_df['ReadabilityCombined'] = add_df['tweet'].apply(lambda x: textstat.text_standard(x, float_output=True))
add_df['FleschReadingEase'] = add_df['tweet'].apply(lambda x: textstat.flesch_reading_ease(x))
add_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9309 entries, 0 to 9308
Data columns (total 62 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   author id                              9309 non-null   float64
 1   created_at                             9309 non-null   object
 2   mentions_id                            9309 non-null   object
 3   mentions_username                      9309 non-null   object
 4   hashtags                               9309 non-null   object
 5   geo                                    0 non-null      float64
 6   longitude                              0 non-null      float64
 7   latitude                               0 non-null      float64
 8   id                                     9309 non-null   float64
 9   lang                                   9309 non-null   object
 10  like_count                             9309 non-null   float64
 11  quote_count                            9309 non-null   float64
 12  reply_count                            9309 non-null   float64
 13  retweet_count                          9309 non-null   float64
 14  follower_count                         9309 non-null   float64
 15  source                                 9309 non-null   object
 16  tweet                                  9309 non-null   object
 17  target                                 9309 non-null   int64
 18  tweet_length                           9309 non-null   int64
 19  tokens_count                           9309 non-null   int64
 20  TTR                                    9309 non-null   float64
 21  url_count                              9309 non-null   int64
 22  hashtags_count                         9309 non-null   int64
 23  punctuation_count                      9309 non-null   int64
 24  interrobang_count                      9309 non-null   int64
 25  question_mark_count                    9309 non-null   int64
 26  exclamation_mark_count                 9309 non-null   int64
 27  non_emoji_count                        9309 non-null   int64
 28  emoji_count                            9309 non-null   int64
 29  negative_emoji_count                   9309 non-null   int64
 30  neutral_emoji_count                    9309 non-null   int64
 31  positive_emoji_count                   9309 non-null   int64
 32  period_count                           9309 non-null   int64
 33  stopwords_count                        9309 non-null   int64
 34  words_count                            9309 non-null   int64
 35  avg_chars_per_word                     9309 non-null   float64
 36  avg_chars_per_sentence                 9309 non-null   float64
 37  text_sentiment                         9309 non-null   float64
 38  Vowel_count                            9309 non-null   int64
 39  consonant_ount                         9309 non-null   int64
 40  uppercase_count                        9309 non-null   int64
 41  lowercase_count                        9309 non-null   int64
 42  longest_vowel_sequence                 9309 non-null   int64
 43  longest_consonant_cequence             9309 non-null   int64
 44  repetition_of_three_consecutive_chars  9309 non-null   int64
 45  digit_count                            9309 non-null   int64
 46  number_of_letters                      9309 non-null   int64
 47  letter_to_digit_ratio                  9309 non-null   float64
 48  number_of_pronouns                     9309 non-null   int64
 49  number_of_determiners                  9309 non-null   int64
 50  number_of_nouns                        9309 non-null   int64
 51  number_of_adverbs                      9309 non-null   int64
 52  number_of_to                           9309 non-null   int64
 53  number_of_verbs                        9309 non-null   int64
 54  number_of_entities                     9309 non-null   int64
 55  tweet_entropy                          9309 non-null   float64
 56  no_of_sent                             9309 non-null   int64
 57  UniqueWordCount                        9309 non-null   int64
 58  CapitalizedWordCount                   9309 non-null   int64
 59  ReadabilityDC                          9309 non-null   float64
 60  ReadabilityCombined                    9309 non-null   float64
 61  FleschReadingEase                      9309 non-null   float64
dtypes: float64(19), int64(36), object(7)
memory usage: 4.4+ MB

In [143]:
# Latent Dirichlet Allocation (LDA) topic modeling
vectorizer = TfidfVectorizer(max_df=0.95, min_df=2, stop_words='english')
tfidf_matrix = vectorizer.fit_transform(add_df['tweet'])
lda = LatentDirichletAllocation(n_components=5, random_state=42)
lda_topics = lda.fit_transform(tfidf_matrix)
df_lda = pd.DataFrame(lda_topics, columns=[f'LDA_Topic_{i}' for i in range(lda.n_components)])
add_df = pd.concat([add_df, df_lda], axis=1)
add_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9309 entries, 0 to 9308
Data columns (total 67 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   author id                              9309 non-null   float64
 1   created_at                             9309 non-null   object
 2   mentions_id                            9309 non-null   object
 3   mentions_username                      9309 non-null   object
 4   hashtags                               9309 non-null   object
 5   geo                                    0 non-null      float64
 6   longitude                              0 non-null      float64
 7   latitude                               0 non-null      float64
 8   id                                     9309 non-null   float64
 9   lang                                   9309 non-null   object
 10  like_count                             9309 non-null   float64
 11  quote_count                            9309 non-null   float64
 12  reply_count                            9309 non-null   float64
 13  retweet_count                          9309 non-null   float64
 14  follower_count                         9309 non-null   float64
 15  source                                 9309 non-null   object
 16  tweet                                  9309 non-null   object
 17  target                                 9309 non-null   int64
 18  tweet_length                           9309 non-null   int64
 19  tokens_count                           9309 non-null   int64
 20  TTR                                    9309 non-null   float64
 21  url_count                              9309 non-null   int64
 22  hashtags_count                         9309 non-null   int64
 23  punctuation_count                      9309 non-null   int64
 24  interrobang_count                      9309 non-null   int64
 25  question_mark_count                    9309 non-null   int64
 26  exclamation_mark_count                 9309 non-null   int64
 27  non_emoji_count                        9309 non-null   int64
 28  emoji_count                            9309 non-null   int64
 29  negative_emoji_count                   9309 non-null   int64
 30  neutral_emoji_count                    9309 non-null   int64
 31  positive_emoji_count                   9309 non-null   int64
 32  period_count                           9309 non-null   int64
 33  stopwords_count                        9309 non-null   int64
 34  words_count                            9309 non-null   int64
 35  avg_chars_per_word                     9309 non-null   float64
 36  avg_chars_per_sentence                 9309 non-null   float64
 37  text_sentiment                         9309 non-null   float64
 38  Vowel_count                            9309 non-null   int64
 39  consonant_ount                         9309 non-null   int64
 40  uppercase_count                        9309 non-null   int64
 41  lowercase_count                        9309 non-null   int64
 42  longest_vowel_sequence                 9309 non-null   int64
 43  longest_consonant_cequence             9309 non-null   int64
 44  repetition_of_three_consecutive_chars  9309 non-null   int64
 45  digit_count                            9309 non-null   int64
 46  number_of_letters                      9309 non-null   int64
 47  letter_to_digit_ratio                  9309 non-null   float64
 48  number_of_pronouns                     9309 non-null   int64
 49  number_of_determiners                  9309 non-null   int64
 50  number_of_nouns                        9309 non-null   int64
 51  number_of_adverbs                      9309 non-null   int64
 52  number_of_to                           9309 non-null   int64
 53  number_of_verbs                        9309 non-null   int64
 54  number_of_entities                     9309 non-null   int64
 55  tweet_entropy                          9309 non-null   float64
 56  no_of_sent                             9309 non-null   int64
 57  UniqueWordCount                        9309 non-null   int64
 58  CapitalizedWordCount                   9309 non-null   int64
 59  ReadabilityDC                          9309 non-null   float64
 60  ReadabilityCombined                    9309 non-null   float64
 61  FleschReadingEase                      9309 non-null   float64
 62  LDA_Topic_0                            9309 non-null   float64
 63  LDA_Topic_1                            9309 non-null   float64
 64  LDA_Topic_2                            9309 non-null   float64
 65  LDA_Topic_3                            9309 non-null   float64
 66  LDA_Topic_4                            9309 non-null   float64
dtypes: float64(24), int64(36), object(7)
memory usage: 4.8+ MB

In [148]:
hand_craf_features  = add_df

In [149]:
hand_craf_features['tweet']=hand_craf_features['tweet'].str.replace(r'http\S+', '').str.replace(r'@\S+','').str.replace(r'#\S+','').str.replace(r'|','').str.replace(r',','').str.replace(r'-','').str.replace(r'\'','').str.replace(r'%','').str.replace(r'\d','').str.replace(r'\n','')

In [150]:
hand_craf_features['no_of_sent']= hand_craf_features['tweet'].apply(lambda x: len(sent_tokenize(x)))

In [151]:
hand_craf_features_df = hand_craf_features[list(hand_craf_features.columns[18:-1])]

In [152]:
hand_craf_features_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9309 entries, 0 to 9308
Data columns (total 48 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   tweet_length                           9309 non-null   int64
 1   tokens_count                           9309 non-null   int64
 2   TTR                                    9309 non-null   float64
 3   url_count                              9309 non-null   int64
 4   hashtags_count                         9309 non-null   int64
 5   punctuation_count                      9309 non-null   int64
 6   interrobang_count                      9309 non-null   int64
 7   question_mark_count                    9309 non-null   int64
 8   exclamation_mark_count                 9309 non-null   int64
 9   non_emoji_count                        9309 non-null   int64
 10  emoji_count                            9309 non-null   int64
 11  negative_emoji_count                   9309 non-null   int64
 12  neutral_emoji_count                    9309 non-null   int64
 13  positive_emoji_count                   9309 non-null   int64
 14  period_count                           9309 non-null   int64
 15  stopwords_count                        9309 non-null   int64
 16  words_count                            9309 non-null   int64
 17  avg_chars_per_word                     9309 non-null   float64
 18  avg_chars_per_sentence                 9309 non-null   float64
 19  text_sentiment                         9309 non-null   float64
 20  Vowel_count                            9309 non-null   int64
 21  consonant_ount                         9309 non-null   int64
 22  uppercase_count                        9309 non-null   int64
 23  lowercase_count                        9309 non-null   int64
 24  longest_vowel_sequence                 9309 non-null   int64
 25  longest_consonant_cequence             9309 non-null   int64
 26  repetition_of_three_consecutive_chars  9309 non-null   int64
 27  digit_count                            9309 non-null   int64
 28  number_of_letters                      9309 non-null   int64
 29  letter_to_digit_ratio                  9309 non-null   float64
 30  number_of_pronouns                     9309 non-null   int64
 31  number_of_determiners                  9309 non-null   int64
 32  number_of_nouns                        9309 non-null   int64
 33  number_of_adverbs                      9309 non-null   int64
 34  number_of_to                           9309 non-null   int64
 35  number_of_verbs                        9309 non-null   int64
 36  number_of_entities                     9309 non-null   int64
 37  tweet_entropy                          9309 non-null   float64
 38  no_of_sent                             9309 non-null   int64
 39  UniqueWordCount                        9309 non-null   int64
 40  CapitalizedWordCount                   9309 non-null   int64
 41  ReadabilityDC                          9309 non-null   float64
 42  ReadabilityCombined                    9309 non-null   float64
 43  FleschReadingEase                      9309 non-null   float64
 44  LDA_Topic_0                            9309 non-null   float64
 45  LDA_Topic_1                            9309 non-null   float64
 46  LDA_Topic_2                            9309 non-null   float64
 47  LDA_Topic_3                            9309 non-null   float64
dtypes: float64(13), int64(35)
memory usage: 3.4 MB

In [153]:
# Replace all infinite values with 0
hand_craf_features_df = hand_craf_features_df.replace([np.inf, -np.inf], 0)

In [154]:
offset = np.abs(np.min(hand_craf_features_df.values))
hand_craf_features_df = hand_craf_features_df + offset

In [155]:
hand_craf_features_df

,tweet_length,tokens_count,TTR,url_count,hashtags_count,punctuation_count,interrobang_count,question_mark_count,exclamation_mark_count,non_emoji_count,...,no_of_sent,UniqueWordCount,CapitalizedWordCount,ReadabilityDC,ReadabilityCombined,FleschReadingEase,LDA_Topic_0,LDA_Topic_1,LDA_Topic_2,LDA_Topic_3
0,393.19,252.19,217.961429,218.19,220.19,230.19,217.19,217.19,217.19,393.19,...,218.19,236.19,217.19,227.13,226.19,284.27,217.238583,217.612915,217.383117,217.239367
1,395.19,249.19,218.033750,218.19,220.19,228.19,217.19,217.19,217.19,395.19,...,218.19,236.19,217.19,230.50,229.19,276.83,217.243028,217.977610,217.243118,217.243051
2,380.19,248.19,217.996452,218.19,220.19,232.19,217.19,218.19,217.19,380.19,...,218.19,231.19,218.19,229.42,225.19,282.92,217.247125,217.775079,217.430382,217.249569
3,374.19,245.19,218.082857,218.19,219.19,229.19,217.19,217.19,217.19,374.19,...,218.19,234.19,217.19,230.03,227.19,271.41,217.240277,217.241172,217.240182,217.988297
4,388.19,245.19,218.118571,218.19,219.19,227.19,217.19,218.19,217.19,388.19,...,218.19,235.19,218.19,230.49,231.19,270.40,217.237795,217.995253,217.237799,217.241141
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9304,493.19,269.19,217.978462,217.19,217.19,226.19,217.19,217.19,217.19,493.19,...,219.19,252.19,217.19,227.80,224.19,283.63,217.228665,217.228016,217.227483,217.388208
9305,427.19,254.19,218.000811,218.19,217.19,231.19,217.19,217.19,217.19,426.19,...,221.19,240.19,218.19,226.01,226.19,280.85,217.240915,217.240698,217.984793,217.241482
9306,317.19,234.19,218.131176,218.19,217.19,225.19,217.19,217.19,217.19,317.19,...,219.19,227.19,218.19,227.39,227.19,275.13,217.250006,217.249062,217.250542,217.251971
9307,506.19,271.19,218.004815,218.19,217.19,228.19,217.19,217.19,217.19,506.19,...,218.19,254.19,217.19,227.54,225.19,282.92,217.226914,217.789219,217.227512,217.226241
9308,300.19,230.19,218.190000,218.19,218.19,224.19,217.19,217.19,217.19,300.19,...,218.19,224.19,217.19,234.71,225.19,273.10,217.248631,217.954113,217.248528,217.249661

### Label

In [156]:
hand_craft_matrix = hand_craf_features_df.to_numpy()

In [157]:
y_final=np.array(df['target'])

In [158]:
# Dividing the training set by using train_test_split
X_train, X_test, y_train, y_test = train_test_split(hand_craft_matrix, y_final, random_state=42)

In [159]:
# Dividing the training set by using train_test_split
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.20, random_state=42)

## Naive Bayes classifier

In [160]:
nb_cv=MultinomialNB(alpha=0.1)
# Train Decision Tree Classifer
nb_cv = nb_cv.fit(X_train,y_train)
#Predict the response for test dataset
y_pred = nb_cv.predict(X_test)

print("***************On Test Data*******************")

# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))
# Calculate precision, recall, and F1-score
precision, recall, f1_score, _ = precision_recall_fscore_support(y_test, y_pred, average='binary')
# Print the results
print("Precision:", precision)
print("Recall:", recall)
print("F1-score:", f1_score)

print("***************On Validation Data*******************")

y_val_res = nb_cv.predict(X_val)

# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_val, y_val_res))
# Print the results
print("Precision:", precision)
print("Recall:", recall)
print("F1-score:", f1_score)

***************On Test Data*******************
Accuracy: 0.6473367697594502
Precision: 0.8537190082644628
Recall: 0.6159809183064997
F1-score: 0.7156217526844475
***************On Validation Data*******************
Accuracy: 0.6628489620615605
Precision: 0.8537190082644628
Recall: 0.6159809183064997
F1-score: 0.7156217526844475

## SVM

In [161]:
# Create an SVM classifier with a linear kernel
clf = svm.SVC(kernel='linear')

# Train the classifier on the training data
clf.fit(X_train, y_train)

# Make predictions on the testing data
y_pred = clf.predict(X_test)

print("***************On Test Data*******************")

# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))
# Calculate precision, recall, and F1-score
precision, recall, f1_score, _ = precision_recall_fscore_support(y_test, y_pred, average='binary')
# Print the results
print("Precision:", precision)
print("Recall:", recall)
print("F1-score:", f1_score)

print("***************On Validation Data*******************")

y_val_res = clf.predict(X_val)

# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_val, y_val_res))
# Print the results
print("Precision:", precision)
print("Recall:", recall)
print("F1-score:", f1_score)

***************On Test Data*******************
Accuracy: 0.8831615120274914
Precision: 0.9048991354466859
Recall: 0.936195587358378
F1-score: 0.9202813599062134
***************On Validation Data*******************
Accuracy: 0.8747315676449535
Precision: 0.9048991354466859
Recall: 0.936195587358378
F1-score: 0.9202813599062134

## C4.5 classifier

In [162]:
# Create a DecisionTreeClassifier object with C4.5 algorithm
clf = DecisionTreeClassifier(criterion='entropy')

# Fit the model on training data
clf.fit(X_train, y_train)

# Predict the class labels of test data
y_pred = clf.predict(X_test)

print("***************On Test Data*******************")

# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))
# Calculate precision, recall, and F1-score
precision, recall, f1_score, _ = precision_recall_fscore_support(y_test, y_pred, average='binary')
# Print the results
print("Precision:", precision)
print("Recall:", recall)
print("F1-score:", f1_score)

print("***************On Validation Data*******************")

y_val_res = clf.predict(X_val)

# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_val, y_val_res))
# Print the results
print("Precision:", precision)
print("Recall:", recall)
print("F1-score:", f1_score)

***************On Test Data*******************
Accuracy: 0.8857388316151202
Precision: 0.9288753799392098
Recall: 0.9111508646392368
F1-score: 0.9199277543648404
***************On Validation Data*******************
Accuracy: 0.8847530422333572
Precision: 0.9288753799392098
Recall: 0.9111508646392368
F1-score: 0.9199277543648404

## Random Forest classifier

In [163]:
# Create a Random Forest classifier with 100 trees
clf = RandomForestClassifier(n_estimators=100, random_state=42)

# Train the classifier on the training data
clf.fit(X_train, y_train)

# Make predictions on the testing data
y_pred = clf.predict(X_test)

print("***************On Test Data*******************")

# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))
# Calculate precision, recall, and F1-score
precision, recall, f1_score, _ = precision_recall_fscore_support(y_test, y_pred, average='binary')
# Print the results
print("Precision:", precision)
print("Recall:", recall)
print("F1-score:", f1_score)

print("***************On Validation Data*******************")

y_val_res = clf.predict(X_val)

# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_val, y_val_res))
# Print the results
print("Precision:", precision)
print("Recall:", recall)
print("F1-score:", f1_score)

***************On Test Data*******************
Accuracy: 0.9231099656357389
Precision: 0.941627358490566
Recall: 0.9522957662492546
F1-score: 0.946931514971835
***************On Validation Data*******************
Accuracy: 0.9148174659985684
Precision: 0.941627358490566
Recall: 0.9522957662492546
F1-score: 0.946931514971835

# AMR Grpah Embedding

In [168]:
import pickle
with open('fake_amr_graph_lst.pkl', 'rb') as f:
    graphs_list = pickle.load(f)

g_model = Graph2Vec(dimensions=100)
g_model.fit(graphs_list)
g2ve=g_model.get_embedding()

In [169]:
g2ve_list=[]
for i in (df.index):
    g2ve_list.append(np.array([g2ve[j] for j in range(i,i+add_df['no_of_sent'][i])]))
    g2ve=np.delete(g2ve,np.arange(i+1,i+add_df['no_of_sent'][i]),axis=0)

In [197]:
max_sent_len=7
for i in (add_df.index):
    idx=add_df['no_of_sent'][i]
    if idx == 0:
        padded_vector = np.zeros((max_sent_len, 100))
        g2ve_list[i] = padded_vector
    elif idx < max_sent_len:
        padded_vector = np.zeros((max_sent_len, 100))
        padded_vector[:idx, :] = g2ve_list[i][:idx,:]
        g2ve_list[i] = padded_vector
    else:
        padded_vector = np.zeros((max_sent_len, 100))
        padded_vector[:max_sent_len, :] = g2ve_list[i][:max_sent_len]
        g2ve_list[i] = padded_vector

In [198]:
for i in range(len(g2ve_list)):
    g2ve_list[i] = g2ve_list[i].flatten()

In [199]:
len(g2ve_list)

9309

In [200]:
ssvec = np.concatenate((g2ve_list, hand_craft_matrix), axis=1)

In [201]:
# Dividing the training set by using train_test_split
X_train, X_test, y_train, y_test = train_test_split(ssvec, y_final, random_state=42)

# Dividing the training set by using train_test_split
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.20, random_state=42)

In [ ]:
nb_cv=MultinomialNB(alpha=0.1)
# Train Decision Tree Classifer
nb_cv = nb_cv.fit(X_train,y_train)
#Predict the response for test dataset
y_pred = nb_cv.predict(X_test)


print("***************On Test Data*******************")

# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))
# Calculate precision, recall, and F1-score
precision, recall, f1_score, _ = precision_recall_fscore_support(y_test, y_pred, average='binary')
# Print the results
print("Precision:", precision)
print("Recall:", recall)
print("F1-score:", f1_score)

print("***************On Validation Data*******************")

y_val_res = nb_cv.predict(X_val)

# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_val, y_val_res))
precision, recall, f1_score, _ = precision_recall_fscore_support(y_val, y_val_res, average='binary')
# Print the results
print("Precision:", precision)
print("Recall:", recall)
print("F1-score:", f1_score)

In [203]:
# Create an SVM classifier with a linear kernel
clf = svm.SVC(kernel='linear')

# Train the classifier on the training data
clf.fit(X_train, y_train)

# Make predictions on the testing data
y_pred = clf.predict(X_test)

print("***************On Test Data*******************")

# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))
# Calculate precision, recall, and F1-score
precision, recall, f1_score, _ = precision_recall_fscore_support(y_test, y_pred, average='binary')
# Print the results
print("Precision:", precision)
print("Recall:", recall)
print("F1-score:", f1_score)

print("***************On Validation Data*******************")

y_val_res = clf.predict(X_val)

# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_val, y_val_res))
# Print the results
print("Precision:", precision)
print("Recall:", recall)
print("F1-score:", f1_score)

***************On Test Data*******************
Accuracy: 0.8904639175257731
Precision: 0.9062857142857143
Recall: 0.9457364341085271
F1-score: 0.9255908958272541
***************On Validation Data*******************
Accuracy: 0.8804581245526127
Precision: 0.9062857142857143
Recall: 0.9457364341085271
F1-score: 0.9255908958272541

In [204]:
# Create a DecisionTreeClassifier object with C4.5 algorithm
dt = DecisionTreeClassifier(criterion='entropy')

# Fit the model on training data
dt.fit(X_train, y_train)

# Predict the class labels of test data
y_pred = dt.predict(X_test)

print("***************On Test Data*******************")

# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))
# Calculate precision, recall, and F1-score
precision, recall, f1_score, _ = precision_recall_fscore_support(y_test, y_pred, average='binary')
# Print the results
print("Precision:", precision)
print("Recall:", recall)
print("F1-score:", f1_score)

print("***************On Validation Data*******************")

y_val_res = dt.predict(X_val)

# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_val, y_val_res))
precision, recall, f1_score, _ = precision_recall_fscore_support(y_val, y_val_res, average='binary')
# Print the results
print("Precision:", precision)
print("Recall:", recall)
print("F1-score:", f1_score)

***************On Test Data*******************
Accuracy: 0.8711340206185567
Precision: 0.9140108238123873
Recall: 0.9063804412641622
F1-score: 0.9101796407185629
***************On Validation Data*******************
Accuracy: 0.8804581245526127
Precision: 0.905717151454363
Recall: 0.9252049180327869
F1-score: 0.9153573238722758

In [205]:
# Create a Random Forest classifier with 100 trees
clf = RandomForestClassifier(n_estimators=100, random_state=42)

# Train the classifier on the training data
clf.fit(X_train, y_train)

# Make predictions on the testing data
y_pred = clf.predict(X_test)

print("***************On Test Data*******************")

# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))
# Calculate precision, recall, and F1-score
precision, recall, f1_score, _ = precision_recall_fscore_support(y_test, y_pred, average='binary')
# Print the results
print("Precision:", precision)
print("Recall:", recall)
print("F1-score:", f1_score)

print("***************On Validation Data*******************")

y_val_res = clf.predict(X_val)

# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_val, y_val_res))
# Print the results
print("Precision:", precision)
print("Recall:", recall)
print("F1-score:", f1_score)

***************On Test Data*******************
Accuracy: 0.895618556701031
Precision: 0.9120689655172414
Recall: 0.9463327370304114
F1-score: 0.9288849868305531
***************On Validation Data*******************
Accuracy: 0.8954903364352184
Precision: 0.9120689655172414
Recall: 0.9463327370304114
F1-score: 0.9288849868305531